{% extends 'layout.html' %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Library{% endif %}
{% endblock %}

{% block main %}
<div class="library_container">
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'store:product_list' %}">All</a>
            </li>
            {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <section class="product_library">
        <div class="section_title">
            <h1 class="library_title">{% if category %}{{ category.name }}{% else %}Library{% endif %}</h1>
        </div>
        <div id="main" class="product_list">
            {% for product in products %}
            <div class="item">

                <a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.image.url }}" alt="">
                </a>
                <a class="product_name" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                    ${{ product.price }}
            </div>
            {% endfor %}
        </div>
    </section>
</div>
   
{% endblock %}