{% extends 'layout.html' %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <section class="about_us_section">
            <h1 class="section_title_blue">About Us</h1>
        <div class="container about_bx">
            <div class="about_inner_bx">
                <h2 class="about_bx_title">We're Making Good Investing Easy</h2>
                <p class="about_bx_desc">The Seville Report is a digital investment newsletter for 
                    all investors. The newsletter provides well thought out investment 
                    ideas, so that investors can avoid the noise of Wall Street and make investment
                    decisions that are best for them.
                </p>
            </div>
            <div class="about_inner_bx_two">
                <ul class="about_ul">
                    <li class="about_li">Educate
                        <span class="hidden_text">We want to <strong>educate</strong> our readers and remove the mystery that surrounds the stock market and good investing.</span>
                    </li>
                    <li class="about_li">Empower
                        <span class="hidden_text">We want to <strong>empower</strong> our readers to make investment decisions that best fit them and their financial plans.</span>
                    </li>
                    <li class="about_li">Inspire
                        <span class="hidden_text">We want to <strong>inspire</strong> our readers to think and invest long-term to reach their financial.</span>
                    </li>
                    <li class="about_li">Inform
                        <span class="hidden_text">We strive to keep our readers <strong>informed</strong> with the information that's moving the markets.</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
