{% extends 'layout.html' %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<section class="attribute_section">
    <h1 class="section_title_blue">Attributes</h1>

    <div class="container attributes_container">
        <h2 class="all_posts_slug attr_bx_title">Images</h2>
        
        <ul class="image_attributes">
            <li class="img_attr">
                <a href="https://www.pexels.com/@ivan-samkov/" target="_blank">Consumer Disc Image</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@padrinan/" target="_blank">Communication Services</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@conojeghuo/" target="_blank">Consumer Staples</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@narcisa-aciko-541222/" target="_blank">Energy</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@karolina-grabowska/" target="_blank">Finance</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@karolina-grabowska/" target="_blank">Healthcare</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@samuel-wolfl-628277/" target="_blank">Industrial</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@luis-gomes-166706/" target="_blank">Information Technology</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@chokniti-khongchum-1197604/" target="_blank">Materials</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@jessica-bryant-592135/" target="_blank">Real Estate</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@annette-bauer-358235/" target="_blank">Utilities</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@anntarazevich/" target="_blank">S&P 500</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@nivdex/" target="_blank">Aerospace and Defense</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@brett-sayles/" target="_blank">Airlines</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@hebertsantos/" target="_blank">Autoparts</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@mikebirdy/" target="_blank">Automobiles</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@expect-best-79873/" target="_blank">Banking</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@thatguycraig000/" target="_blank">Beverages</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@chokniti-khongchum-1197604/" target="_blank">Biotechnology</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@rezwan/" target="_blank">Construction Products</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@rdne/" target="_blank">Capital Markets</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@loic-manegarium/" target="_blank">Chemicals</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@tim-samuel/" target="_blank">Commercial Services and Supplies</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@brett-sayles/" target="_blank">Communication Equipment</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@jiyoung-kim-2937986/" target="_blank">Construction & Engineering</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@life-of-pix/" target="_blank">Construction Materials</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@goumbik/" target="_blank">Consumer Finance</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@cottonbro/" target="_blank">Container and Packaging</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@joenibraw/" target="_blank">Diversfied Telecom</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@distelapparath/" target="_blank">Diversfied Utilities</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@timmossholder/" target="_blank">Electrical Equipment</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@muffin/" target="_blank">Electrical Equipment and Instrument Components</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@onics-energy-357829293/" target="_blank">Energy Equipment Services</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@rahulp9800/" target="_blank">Entertainment</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@davidmcbee/" target="_blank">Equity Real Estate</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@foodie-factor-162291/" target="_blank">Food Products</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@carlo-martin-alcordo-1279322/" target="_blank">Food Staples</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@souvenirpixels/" target="_blank">Freight and Logistics</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@mart-production/" target="_blank">Healthcare Equipment</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@alexandros-chatzidimos-2033032/" target="_blank">Healthcare Services</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@chanwalrus/" target="_blank">Hotel, Restaurant, and Leisure</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@curtis-adams-1694007/" target="_blank">Household Durables</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@shvetsa/" target="_blank">Household Products</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@kateryna-babaieva-1423213/" target="_blank">Industrial Conglomerate</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@goumbik/" target="_blank">Information Technology Services</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@kindelmedia/" target="_blank">Insurance</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@aloksharma/" target="_blank">Interactive Meda</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@cottonbro/" target="_blank">Internet Retail</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@polina-tankilevitch/" target="_blank">Life Science Tools and Services</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@rezwan/" target="_blank">Machinery</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@ninosouza/" target="_blank">Media</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@chetanvlad/" target="_blank">Metals and Mining</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@demiansmit/" target="_blank">Multiline Retail</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@jan-rune-smenes-reite-221584/" target="_blank">Oil, Gas, and Consumable Fuels</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@suzyhazelwood/" target="_blank">Pharmaceuticals</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@rdne/" target="_blank">Professional Services</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@didsss/" target="_blank">Regulated Electric</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@michael-pointner-134459625/" target="_blank">Regulated Gas</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@brett-sayles/" target="_blank">Road and Rail</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@waterhouse/" target="_blank">Semiconductor and Semiconductor Equipment</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@tima-miroshnichenko/" target="_blank">Software</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@max-fischer/" target="_blank">Specialty Retail</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@digitalbuggu/" target="_blank">Textiles, Apparel, and Luxury Goods</a>
            </li>
            <li class="img_attr">
                <a href="https://www.pexels.com/@tiger-lily/" target="_blank">Trading Companies and Distributors</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}