{% extends 'layout.html' %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<section class="contact_section">
    <h1 class="section_title_blue">Attributes</h1>

<div class="container attributes_container">
    <h2 class="about_bx_title">Images</h2>
    
    <ul class="image_attributes">
        <li class="img_attr">
            <a href="https://www.pexels.com/@ivan-samkov/" target="_blank">Consumer Disc Image</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@padrinan/" target="_blank">Communication Services</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@conojeghuo/" target="_blank">Consumer Staples</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@narcisa-aciko-541222/" target="_blank">Energy</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@karolina-grabowska/" target="_blank">Finance</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@karolina-grabowska/" target="_blank">Healthcare</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@samuel-wolfl-628277/" target="_blank">Industrial</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@luis-gomes-166706/" target="_blank">Information Technology</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@chokniti-khongchum-1197604/" target="_blank">Materials</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@jessica-bryant-592135/" target="_blank">Real Estate</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@annette-bauer-358235/" target="_blank">Utilities</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@anntarazevich/" target="_blank">S&P 500</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@nivdex/" target="_blank">Aerospace and Defense</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@brett-sayles/" target="_blank">Airlines</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@hebertsantos/" target="_blank">Autoparts</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@mikebirdy/" target="_blank">Automobiles</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@expect-best-79873/" target="_blank">Banking</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@thatguycraig000/" target="_blank">Beverages</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@chokniti-khongchum-1197604/" target="_blank">Biotechnology</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@rezwan/" target="_blank">Construction Products</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@rdne/" target="_blank">Capital Markets</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@loic-manegarium/" target="_blank">Chemicals</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@tim-samuel/" target="_blank">Commercial Services and Supplies</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@brett-sayles/" target="_blank">Communication Equipment</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@jiyoung-kim-2937986/" target="_blank">Construction & Engineering</a>
        </li>
        <li class="img_attr">
            <a href="https://www.pexels.com/@life-of-pix/" target="_blank">Construction Materials</a>
        </li>
        <li class="img_attr">
            <a href="" target="_blank"></a>
        </li>
        <li class="img_attr">
            <a href="" target="_blank"></a>
        </li>
        <li class="img_attr">
            <a href="" target="_blank"></a>
        </li>
    </ul>
</div>
</section>
{% endblock %}