{% extends 'layout.html' %}

{% block title %}
    Disclaimer / Legal Notices 
{% endblock %}

{% block main %}
<section class="disclaimer_section">
    <h1 class="disclaimer_title">Disclaimers and Legal Notices</h1>

    <h3 class="disclaimer">DISCLAIMER</h3>
    <p class="disclaim">We wrote the reports in The Seville Report ourselves and it expresses our own opinions. 
        We do not receive any compensation for it (other than from The Seville Report subscribers). The Seville 
        Report has no business relationship with any company whose stock is mentioned in the articles. </p>

    <p class="disclaim"> TheSevilleReport.com (“The Seville Report” or “we” or “us”) is not registered as an 
        investment adviser. The Seville Report relies upon the "publishers" exclusion” from the definition of 
        investment adviser under Section 202(a)(11) of the Investment Advisers Act of 1940 and corresponding state 
        securities laws. As such, TheSevilleReport.com does not offer or provide personalized investment advice. 
        We publish information about companies in which we believe our readers may be interested and this information 
        reflects our sincere opinions. The information that we provided (or that is derived from our website) is not, 
        and should not be construed in any manner to be personalized advice. Also, our website and the information 
        provided by us should not be construed by any subscriber or prospective subscriber as a solicitation by 
        TheSevilleReport.com to effect, or attempt to effect any transaction in any security. Investments in the 
        securities markets, and especially in options, are speculative and involve substantial risk. The information 
        we provide or that is derived from our website should not be a substitute for advice from an investment 
        professional. We encourage you to obtain personal advice from your professional investment advisor and to 
        make independent investigations before acting on the information that you obtain from TheSevilleReport.com or 
        derive from our website. Only you can determine what level of risk is appropriate for you. 
    </p>

    <p class="disclaim">We encourage our readers to invest carefully and to utilize the information available at the web 
        sites of the Securities and Exchange Commission at http://www.sec.gov, and the National Association of Securities 
        Dealers at http://www.nasd.com. You can review public companies’ filings at the SEC’s EDGAR page. The NASD has 
        published information on its web site about how to invest carefully. Most of the information on our website or 
        that we otherwise provide is derived directly from information published by the companies on which we report 
        and/or from other sources we believe are reliable, without our independent verification. Therefore, we cannot 
        assure you that the information is accurate or complete. The information may contain discussions of, or provide 
        access to, certain positions and recommendations as of a specific date. Due to various factors, including, but 
        not limited to, changing market conditions, such discussions and positions/recommendations may no longer be 
        reflective of current discussions and positions/recommendations. We do not in any way warrant or guarantee the 
        success of nor endorse any action which you take in reliance on the information that we provide or that is 
        derived from our website.
    </p>
       
    
    <p class="disclaim">As indicated above, TheSevilleReport.com makes no representations nor warranties about the accuracy 
        or completeness of the information contained on or derived from TheSevilleReport.com’s website or otherwise 
        provided by TheSevilleReport.com. Any links provided to other websites are offered as a matter of convenience and 
        are in no way meant to imply that TheSevilleReport.com endorses, sponsors, promotes or is affiliated with the 
        owners of or participants in those sites, or endorses or warrants any information contained on those sites, unless 
        expressly stated. Furthermore, TheSevilleReport.com does not endorse, guarantee or warranty any third party products 
        advertised on its site, in its newsletters, in any third party rental of its permission based lists or otherwise 
        referenced in any information provided by TheSevilleReport.com or derived from TheSevilleReport.com’s website, 
        and TheSevilleReport.com expressly disclaims any responsibility and accepts no liability with respect to such 
        information and products. TheSevilleReport.com may receive a fee from a service provider that has a link on 
        TheSevilleReport.com’s website or is referenced in the information provided by TheSevilleReport.com.
    </p>
        
    <p class="disclaim">Our personnel (and affiliates) may own positions in and/or trade the securities mentioned in 
        the information that we provide. However, TheSevilleReport.com’s policies prohibit all employees 
        TheSevilleReport.com from engaging in any securities transactions that will directly or indirectly compete 
        with the interests of our subscribers that are actually known to TheSevilleReport.com. We are not compensated 
        in any way for publishing information about companies mentioned in our reports. Testimonials may or may not be 
        representative of actual results.
    </p>
    <h3 class="disclaimer">PERFORMANCE FIGURES</h3>
    <p class="disclaim">
        Performance figures are based on actual recommendations made by TheSevilleReport.com. Due to the time critical 
        nature of stock trading, brokerage fees, and the activity of other subscribers, TheStateStreetReport.com cannot 
        guarantee that subscribers will be able to mirror the exact performance stated in our track records or promotions. 
        Performance numbers shown are based on trades subscribers could enter based on our tracking guidelines. Past 
        results are not necessarily indicative of future performance. Therefore, no subscriber or potential subscriber 
        should assume or expect that future performance of any investment or strategy will be profitable or equal 
        historical or anticipated performance levels. The information contained in TheSevilleReport.com trading services 
        is intended for use solely by individual subscribers and is not offered to institutional investment organizations.
    </p>

    <h3 class="disclaimer">LIMITATION ON TheSevilleReport.com LIABILITY</h3>
    <p class="disclaim">
        To the extent not prohibited by law, each subscriber and potential subscriber agrees, prior to accessing or 
        using TheSevilleReport.com website or receiving information provided by TheSevilleReport.com, to release and 
        hold harmless TheSevilleReport.com and its directors, officers, shareholders, employees and agents from any 
        and all liability in connection with accessing or using TheSevilleReport.com’s website or receiving information 
        provided by TheSevilleReport.com. In all other cases, TheSevilleReport.com’s liability to a subscriber, whether 
        in contract, tort, negligence, or otherwise, shall be limited in the aggregate to direct and actual damages of 
        the subscriber, not to exceed the fees received by TheSevilleReport.com from the subscriber. TheSevilleReport.com 
        will not be liable for any consequential, incidental, punitive, special, exemplary or indirect damages resulting 
        directly or indirectly from the use of or reliance upon any material provided by TheSevilleReport.com or derived 
        from TheSevilleReport.com’s website. Without limitation, TheSevilleReport.com shall not be responsible or liable 
        for any loss or damages related to, either directly or indirectly, (1) any decline in market value or loss of any 
        investment; (2) a subscriber’s inability to use or any delay in accessing TheSevilleReport.com website or any other 
        source of material provided by TheSevilleReport.com; (3) any absence of material on TheSevilleReport.com website; 
        (4) TheSevilleReport.com’s failure to deliver or delay in delivering any material or (5) any kind of error in 
        transmission of material. TheSevilleReport.com and each subscriber acknowledge that, without limitation, the 
        above-enumerated conditions cannot be the probable result of any breach of any agreement between 
        TheSevilleReport.com and the subscriber.
    </p>

    <h3 class="disclaimer disclaim_warranty">DISCLAIMER OF WARRANTY ANY AND ALL INFORMATION PROVIDED BY TheSevilleReport.com OR DERIVED 
        FROM TheSevilleReport.com’s WEBSITE IS PROVIDED “AS IS” AND TheSevilleReport.com MAKES NO WARRANTY OF ANY KIND, 
        EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY WARRANTIES OF MERCHANTABILITY OR FITNESS OR PARTICULAR 
        PURPOSE.
    </h3>

    <h3 class="disclaimer">BROKERS</h3>
    <p class="disclaim">
        TheSevilleReport.com is not affiliated with any brokerage firm and does not endorse or recommend any specific 
        brokerage firm. TheSevilleReport.com is not and will not be responsible for any trades made by a broker on the 
        subscriber’s behalf under any circumstances.
    </p>

    <h3 class="disclaimer">ACKNOWLEDGEMENT AND AGREEMENT</h3>
    <p class="disclaim">
        Notwithstanding any other agreement or other communications between TheSevilleReport.com and Subscriber to the 
        contrary, receipt or use of any material provided by TheSevilleReport.com, at any time and through any means, 
        whether directly or indirectly, represents acknowledgement by such person of this disclaimer and agreement with 
        its terms and conditions.
    </p>


    <h3 class="disclaimer">SUBMISSIONS</h3>
    <p class="disclaim">
        All submissions from outside contributors on TheSevilleReport.com’s website are the responsibility of their 
        respective authors, creators, and/or owners. TheSevilleReport.com is not responsible for such submissions, 
        and the views and opinions expressed are not necessarily those of TheSevilleReport.com. TheSevilleReport.com 
        does not guarantee the accuracy or validity of the submissions. While TheSevilleReport.com may use its best 
        efforts to review contributor submissions for form and format before they are posted on its website, 
        TheSevilleReport.com does not review or edit these submissions for content. TheSevilleReport.com makes no 
        representations and provides no warranties whatsoever concerning submissions, and the fact that 
        TheSevilleReport.com has posted these outside contributions does not constitute an endorsement, authorization, 
        sponsorship, or affiliation by TheSevilleReport.com with respect to the author, creator and/or owner of the 
        submissions. TheSevilleReport.com expressly disclaims any responsibility and accepts no liability for any 
        information or content provided in these submissions. Please be advised that submissions may be protected by 
        federal and international copyright or other laws, and your right to reprint, republish, modify, reproduce, or 
        distribute this material may be limited accordingly.
    </p>

    <h3 class="disclaimer">INTELLECTUAL PROPERTY</h3>
    <p class="disclaim">
        Except as otherwise indicated, TheSevilleReport.com is the copyright owner of all text and graphics contained on 
        this website. Other parties’ trademarks and service marks that may be referred to herein are the property of their 
        respective owners. You may print a copy of the information contained herein for your personal use only, but you may 
        not reproduce or distribute the text or graphics to others or substantially copy the information on your own server, 
        or link to this website, without prior written permission of TheSevilleReport.com. Permission to use and reproduce 
        documents and related graphics available from this website is granted, provided that: 1. The below copyright notice 
        appears in all copies and that both the copyright and this permission notice appear; 2. Use and reproduction of 
        documents and related graphics available from this website is limited to personal, non-commercial use; 3. No 
        documents or related graphics, including logos, available from this website are modified in any way; and 4. No 
        graphics, including logos, available from this website are used separate from accompanying text. Use or reproduction 
        for any other purpose is expressly prohibited by law, and may result in civil and criminal penalties. Violators will 
        be prosecuted to the maximum extent possible.Associated Press text, photo, graphic, audio and/or video material 
        shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly 
        in any medium. Neither these AP materials nor any portion thereof may be stored in a computer except for personal 
        and non-commercial use. AP will not be held liable in any way to the User or to any third party or to any other 
        person who may receive information in the Service or to any other person whatsoever, for any delays, inaccuracies, 
        errors or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damages 
        arising from any of the foregoing or occasioned thereby.
    </p>

    <h3 class="disclaimer">ACKNOWLEDGEMENT AND AGREEMENT</h3>
    <p class="disclaim">Notwithstanding any other agreement or other communications between TheSevilleReport.com and a 
        subscriber or potential subscriber to the contrary, receiving or using any material provided by 
        TheSevilleReport.com or accessing or using TheSevilleReport.com’s website, at any time and through any means, 
        whether directly or indirectly, represents acknowledgement by such person of the foregoing legal notices and 
        disclaimers and agreement with their terms and conditions.
    </p>




</section>

{% endblock %}