{% extends "layout.html" %}
{% load static %}


{% block title %}
    Home
{% endblock %}

{% block main %}

<main class="home_section" id="bg">
        <div class="container home_container">
            <div class="home_box">
                <div class="inner_home_box">
                    <h1 class="home_title">Where are your investments taking you?</h1>
                    <p class="home_paragraph">The Seville Report Newsletter helps investors reach new<br>heights by spotlighting long-term investment ideas.</p>
                    <a href="{% url 'store:product_detail' 1 'the-seville-report-investment-newsletter-sept-2022' %}" aria-label="to current newsletter" tabindex="7"><button class="btn_dark">newsletter</button></a> 
                </div>
                <div class="social_media_block">
                    <a href="https://www.facebook.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/the_seville_report/" class="social_block_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a href="https://twitter.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </div>
            </div> 
        </div> 
    </main>
<hr>


<aside class="recent_recommendations">
    <h1 class="section_title_blue">Recent Recommendation</h1>
    <div class="container recom_container">
        <div class="recommend_items">
            <div class="rec_icons"><i class="fa-solid fa-file-invoice-dollar"></i></i></div>
            <div class="rec_desc">$AMKR</div>
        </div>
        <div class="recommend_items">
            <div class="rec_icons"><i class="fa-regular fa-building"></i></div>
            <div class="rec_desc">Amkor Technology, Inc.</div>
        </div>
        <div class="recommend_items">
            <div class="rec_icons"><i class="fa-solid fa-money-bill-trend-up"></i></div>
            <div class="rec_desc">+35%</div>
        </div>
        <div class="recommend_items">
            <img class="recom_photo" src="media/products/2022/09/24/SR_March_22_Image.001.jpeg" alt="image of March 2022 mewsletter cover ">
            <h3 class="recom_date">Recommended<br>March 2022</h3>
        </div>
    </div>
    <div class="newsletter_discover">
        <p class="discover">
            <a href="#" class="discover_link" target="_blank">
                <span class="highlights">Discover</span>
            </a> what makes The Seville Report different.
        </p>
    </div>
</aside>
<hr>


<section class="newsletter_section"  id="bg_two">
        <h1 class="section_title_white">The Seville Report Newsletter</h1>
    <div class="container news_container">
        <div class="news_left">
            <div class="newsletter_description">
                <h2 class="news_desc">Our quarterly newsletter provides the information that investors need to know 
                    to build wealth. We discuss traditional investments, alternative investments, and investment 
                    education. The Seville Report has you covered.
                </h2>
            </div>
            <div class="description_two">
                <p class="curr_desc">This quarter's newsletter features a researched investment idea. In addition, we discuss if an Index Universal Life Insurance plicy can be an infinite bank in retirement and why gas prices have been so high in 2022.</p>
            </div>
            
            <div class="news_block" id="newsletter_news_block">
                <a href="https://www.facebook.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/the_seville_report/" class="social_block_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://twitter.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        <div class="news_right">
            <div class="newsletter_image">
                <img src="{% static 'img/SR_Sept_22.jpeg' %}" alt="picture of newsletter cover" class="curr_newsletter">

                {% comment %}
                <img src="{{ product.image.url }}" alt="picture of current newsletter cover" class="curr_newsletter">
                {% endcomment %}

                <a href="{% url 'store:product_detail' 1 'the-seville-report-investment-newsletter-sept-2022' %}"><button class="btn_light">Purchase Now</button></a>
            </div> 
        </div>
    </div> 
</section>
<hr>

<section class="blog_section">
    <h1 class="section_title_blue">The SR Blog</h1>
    <div class="container card_container">
        {% for post in last_three_post %}
        <div class="card">
            <a href="{{ post.get_absolute_url }}">
                <div class="card_image"><img class="blog_card_image" src="{{ post.post_header_image.url }}" alt="blog cover image"></div>
                <div class="card_text">
                    <div class="date">{{ post.publish|date:"M d, Y " }}<span>|{{ post.publish|date:" f A" }}</span></div>
                    <h2>{{ post.title|title }}</h2>
                    <p>{{ post.post_description }}</p>
                </div>
                <div class="card_stats">
                    <div class="stat">
                        <div class="value">{{ post.get_read_time }}<sup>m</sup></div>
                        <div class="type">Read</div>
                    </div>
                    <div class="stat border">
                        <div class="value">{{ post.author.first_name|title }} {{ post.author.last_name|title}}</div>
                        <div class="type">@SevilleReport</div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="home_page_blog_button">
        <button class="btn_dark"><a href="{% url 'blog:post_list' %}">More Posts</a></button>
    </div>
        <div class="container blue_social_media_block">
            <a href="https://www.facebook.com/SevilleReport" class="blue_social_block_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/the_seville_report/" class="blue_social_block_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/SevilleReport" class="blue_social_block_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
</section>
{% endblock %}
