{% extends "layout.html" %}
{% load blog_tags %}

{% block title %}All Post Categories{% endblock %}

{% block main %}
<section class="blogs_by_tag_section" >
        <h1 class="section_title_blue">All Post Categories</h1>
        <h4 class="all_posts_slug post_related_to">Find a Post by its Category</h4>
    <div class="container all_cats_section">
        {% for k, v in all_cats.items %}
        <button class="cat_button"><a href="{% url 'blog:by_categories' v %}">{{ k }}</a></button>
        {% endfor %}
    </div>
    
</section>

{% endblock %}