{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Seville Report">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://sevillereport.com">
    <meta property="og:description" content="The Investment Newsletter">
    <meta property="og:local" content="en_US">
    <meta property="og:site_name" content="The Seville Reprt">
    <meta name="keywords" content="Investments, Investing, Stocks, Stock Market, Wall Street">
    <meta name="author" content="Paul Black">

   
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://kit.fontawesome.com/27e86509c5.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&display=swap" rel="stylesheet">
    
   
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/index_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/store/store.css' %}">
    <link rel="stylesheet" href="{% static 'css/store/mobile_store.css' %}">

    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart/mobile_cart.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'css/payments/payment.css' %}">
    <link rel="stylesheet" href="{% static 'css/payments/mobile_payment.css' %}">

    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/mobile_blog.css' %}">

    <link rel="stylesheet" href="{% static 'css/insights/insights.css' %}">
    <link rel="stylesheet" href="{% static 'css/insights/mobile_insights.css' %}">
    
</head>
<body>

<nav class="navbar">
    <div class="container nav_container">
        <logo id="navbar_logo">
            <a href="{% url 'home_page:home_page_view' %}" class="logo" aria-label="logo" id="top_logo" tabindex="0">The Seville Report</a>
            <a href="{% url 'home_page:home_page_view' %}" class="logo" aria-label="logo" id="bottom_logo" tabindex="1">The Investment Newsletter</a>
        </logo>
        <ul class="navbar_menu" aria-labelledby="sections-heading">
            <li class="navbar_items">
                <a href="{% url 'home_page:home_page_view' %}" class="navbar_links" id="home_page" aria-label="home">Home</a>
            </li>
            <li class="navbar_items">
                <a href="{% url 'store:product_list' %}" class="navbar_links" id="newsletter_page" aria-label="Newsletter">Newsletter</a>
            </li>
            <li class="navbar_items">
                <a href="{% url 'blog:post_list' %}" class="navbar_links" id="blog_page" aria-label="blog">Blog</a>
            </li>
            <li class="navbar_items">
                <a href="{% url 'insightsTwo:insights_two_home' %}" class="navbar_links" id="insights_page" aria-label="insights">Insights</a>
            </li>
            <li class="navbar_items">
                <a href="{% url 'home_page:about_us_page_view' %}" class="navbar_links" id="about_page" aria-label="About">About Us</a>
            </li>
        </ul>
        <div class="hamburger_menu" id="mobile_menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
<hr>

{% with total_items=cart|length %}
{% if total_items > 0 %}
<div id="subheader">
    <div class="container sticky_cart_container">
        <div class="site_cart">
        <a href="{% url 'cart:cart_detail' %}">{{ total_items }}
            <i class="fa-solid fa-laptop"></i>
        </a>
    </div>
</div>
</div>
{% else %}
{% endif %}
{% endwith %}
{% block main %}

{% endblock %}
<footer class="section_foot">
    <div class="container footer_container">
        <div class="footer_links_wrapper">
            <div class="footer_link_items">
                <h2>About Us</h2>
                <a href="{% url 'home_page:about_us_page_view' %}">About</a>
            </div>
            <div class="footer_link_items">
                <h2>Contact Us</h2>
                <a href="{% url 'home_page:contact' %}">Contact</a>
            </div>
            <div class="footer_link_items">
                <h2>Attributes</h2>
                <a href="{% url 'home_page:attributes' %}">Attributes</a>
            </div>
            <div class="footer_link_items">
                <h2>Privacy Policy</h2>
                <a href="https://app.termly.io/document/privacy-policy/283478ab-dc67-4fb9-bdd1-4fb140a6684a" target="_blank">Privacy</a>
            </div>
            <div class="footer_link_items">
                <h2 id="disclaim">Disclaimer/Legal</h2>
                <a href="{% url 'home_page:disclaimers_view' %}">Disclaimer</a>
            </div>
        </div>
    </div>
    <aside class="social_media">
        <div class="container social_media_wrap">
            <div class="footer_logo">
                <a href="#" id="footer_logo_top">The Seville Report</a>
                <a href="#" id="footer_logo_bottom">The Investment Newsletter</a>
            </div>
            <p class="website_rights">&copy; The Seville Report 2023. All Rights Reserved</p>
            <div class="social_icons">
                <a href="https://www.facebook.com/SevilleReport" class="social_icon_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/the_seville_report/" class="social_icon_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://twitter.com/SevilleReport" class="social_icon_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
    </aside>
</footer>

<script src="{% static 'js/mobileMenu.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/insights.js' %}"></script>
</body>
</html>
