* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.hamburger_menu {
    display: none;
    cursor: pointer;
}


.bar {
    background-color: white;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    width: 2rem;

}

.no_nav {
    display: none;
}

.navbar {

    align-items: center;
    background-color: #6196B1;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    font-size: 1rem;

    padding: 0 4rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
}

logo {
    display: block;
}

.logo {
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#top_logo {
    font-size: 1.40rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1.5px;
}

#bottom_logo {
    font-size: .92rem;
    margin-top: -3px;
}

.navbar_menu {
    display: flex;
    list-style: none;
}

.navbar_links {
    color: #ffffff;
    padding-left: 25px;
    text-decoration: none;
    width: 8rem;
}


.navbar_links:hover{
    color: #5C5757;
    transition: all 0.3s ease;
}

hr {
    border: 2px solid #6196B1;
}

/* * * * * * * * * * * * * *  Home Page * * * * * * * * * * * * * */


#bg {
    
    align-items: flex-start;
    background: #9F9F9F;
    background-image: url('img/pexels-mirsad-mujanovic-original-691034.jpeg');
    background-image: radial-gradient(#9F9F9F, #888), url('img/pexels-mirsad-mujanovic-original-691034.jpeg');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 10px;

} 

#bg_two {
    background-size: cover;
}


.home_box {
    color: #ffffff;
    max-width: 50%;
    height: 100vh;
    text-shadow: 1px 1px rgba(0, 0, 0.1);

}

.home_box .home_title {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.1em;
    margin-left: 9%;
    text-transform: capitalize;
}

.home_box .home_title_two {
    font-size: 2rem;
    font-weight: 100;
    line-height: 2em;
    margin-left: 9%;
    text-transform: capitalize;
    
}

.home_box .home_paragraph {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.45em;
    margin-left: 9%;
    text-transform: capitalize;
    
}

.btn {
    background-color: #6196B1;
    border: 1px solid #5C5757;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    margin-left: 9%;
    margin-top: 1.5rem;
    padding: .25rem .50rem .25rem .50rem;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    transition-property: box-shadow, transform;
    user-select: none;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.btn:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translate(2px);
}


.social_media_block {
    display: flex;
    margin-left: 4rem;
}

.social_block_link {
    color:  #ffffff;
    font-size: 1.5rem;
    padding-right: 1rem;
    
}

.inner_home_box {
    position: relative;
    top: 30%;
}


/* * * * * * * * * * * * * * Recommended Section * * * * * * * * * * * * * */
.section_title {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    text-shadow: .70px .70px rgba(0, 0, 0.1);
}

.recom_title {
    color: #6196B1;
    font-size: 2rem;
    font-weight: 100;
}

.recomend_wrapper {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.rec_icons {
    font-size: 2rem;
    color: #6196B1;
    text-shadow: 0.50px 0.50px rgba(0, 0, 0.1);

}

.rec_desc {
    text-align: center;
}

.recommend_items:nth-child(3){
    font-size: 1.30rem;
}

.recommend_items {
    align-items: center;
    border: 1px solid #6196B1;
    border-radius: 8px;
    box-shadow: .60rem .60rem .60rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-around;
    transform: scale(1.02) translate(2px);
    width: 7rem;
   

}

.recommend_items h3 {
    color: #6196B1;
    font-size: .80rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.50px 0.50px rgba(0, 0, 0.1);
    
}

.recommend_items a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}


/* Newsletter Section */
.newsletter_section {
    color: #ffffff;
    max-height: 100%;
    margin-top: -8px;   
}


.newsletter_title {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
}


.newsletter {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 2rem 3rem 2rem 3rem;
    text-shadow: 1px 1px rgba(0, 0, 0.1);
}

.newsletter_description {
    width: 30%;
    text-align: justify;
}


.news_desc {
    font-size: 1.75rem;
    line-height: 1.25em;
    font-weight: 100;
}

.discover {
    font-size: .85rem;
    margin-top: 1.5rem;
}


.highlights {
    background-color: #6196B1;
    border-radius: 10px;
    color: white;
    padding: 1px 4.5px 1px 4.5px;
}

.discover_link {
    text-decoration: none;
}

.description_two {
    margin-left: auto;
    padding-right: 1.25rem;
    line-height: 1.25;
    width: 17%;
    text-align: justify;
    
}

.curr_desc {
    font-size: 1rem;
}

.curr_newsletter {
    width: 18rem;
    height: 25rem;
}

.newsletter_btn {
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #6196B1;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    margin-left: 4.75rem;
    margin-top: .75rem;
    padding: .25rem .50rem .25rem .50rem;
    text-decoration: none;
    
   
}

.newsletter_btn:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translate(2px);
}



/* Home Page Blog Area */
.card_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.card {
    border: 2px #6196B1 solid;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background-color: #ffffff;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); */
    text-align: center;
    cursor: pointer;
}

.card_image {
    grid-area: image;
    background: url('img/pexels-adityaG.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card_text {
    grid-area: text;
    margin: 25px;
}

.card_text .date {
    color: #6196B1;
    font-size: 13px;
}

.card_text p {
    color: gray;
    font-size: 15px;
    font-weight: 300;
}

.card_text h2{
    margin-top: 0px;
    font-size: 28px;

}

.card_stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #6196B1
}


.card_stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: #ffffff;
}

.card_stats .type {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.card_stats .value {
    font-size: 22px;
    font-weight: 500;
}

.card_stats .border {
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.card_stats .value sup{
    font-size: 12px;
}

.blog_section_title {
    color: #6196B1;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 1rem;
}

.home_page_blog_button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    
}

.blog_btn {
    background-color: #6196B1;
    border: 2px solid #6196B1;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    margin-top: .75rem;
    padding: .25rem .50rem .25rem .50rem;
    text-decoration: none;
}


.blog_btn:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translate(2px);
}


.blue_social_media_block {
    justify-content: flex-start;
    margin-left: 5%;
    width: 10%;
}


.blue_social_block_link {
    color:  #6196B1;
    font-size: 1.5rem;
    padding-right: 1rem;
}


/* * * * * * * * * * * * * *  Blog Section * * * * * * * * * * * * * */

.blog_page_header {
    margin-top: 2rem;
}


.all_posts_slug {
    color: #6196B1;
    margin-left: 9rem;

}

.all_posts_title {
    color: #6196B1;
    font-size: 2rem;
    margin-left: 9rem;
} 

.blog_categories {
   
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-left: 5.1rem;
    margin-right: 1.8rem;
    margin-top: 4rem;
    width: 80.5rem;

}

.categories {
    font-weight: lighter;
    color: #212121;
    
}


.blog_page_body {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 8rem;
}

.post_section {
    background-color: #D3DFE7;
    border-left: 1px solid #212121;
    border-right: 1px solid #212121;
    border-top: 1px solid #212121;
    width: 74.5rem;
}



.pub_date {
    margin-left: -4rem;
    margin-top: -1.25rem;
    width:fit-content;
    font-size: .95rem;
    font-weight: lighter;
    color: #212121;
}

.pic_title_snip{
    display: flex;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: .5rem;

}

.post_desc {
    display: flex;
    flex-direction: column;
    height: 8rem;
    margin-left: 1.5rem;
    width: 45rem;
}

.post_image {
    height: 11rem;
    width: 17.5rem;
}

.post_title {
    height: auto;
    width: 30rem;
}

.post_snippet {
    width: 30rem;
    height: 3.75rem;
}
 
.auth_and_opinion {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    text-transform: capitalize;
}

.pubdate_readtime {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}


.author, .publish_date{
    font-size: .95rem;
    font-weight: lighter;
    color: #212121;
}

.opinion, .read_time{
    font-size: .95rem;
    font-weight: 600;
}


.blog_divider {
    border-bottom: .2px solid #212121;
}


/* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
.footer_container {
    align-items: center;
    background-color: #6196B1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}


.footer_links {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}

.footer_links_wrapper {
    display: flex;
}

.footer_link_items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: left;
    width: 10rem;    
}

.footer_link_items h2{
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: .3rem;
   
}

#no-show {
    display: none;
}

.footer_link_items a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.2rem;
    transition: 0.3s ease-out;
}

.footer_link_items a:hover {
    color: #5C5757;
    transition: 0.3s ease-out;
}

.footer_logo {
    display: block;
    margin-left: 3%
}


#footer_logo_top {
    /* align-items: center; */
    color: #ffffff;
    cursor: pointer;
    /* display: flex; */
    font-size: 1.4rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1.5px;
}

#footer_logo_bottom {
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: .96rem;
    margin-top: -3px; 
    text-decoration: none;
    
}

.social_icon_link {
    color: #ffffff;
    font-size: 1.5rem;
}

.social_media{
    background-color: #5C5757;
    max-width: 2000px;
    width: 100%;
    padding: .5rem;
}

.social_media_wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
   
}

.social_icons {
    display: flex;
    justify-content: space-evenly;
    margin-right: 2%;
    width: 10rem;
    
}

.website_rights {
    color: #ffffff;
}