@media(max-width:390px){
    .navbar {
        padding: 0 1rem;
        margin: 0;
    }

    #top_logo {
        font-size: 1rem; 
        text-decoration-thickness: 1.10px;
    }
    
    #bottom_logo {
        font-size: .70rem;
    }

    .hamburger_menu {
        display: block;

    }

    .hamburger_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #6196B1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }

    .navbar_items {
        margin: 1rem 0;
    }

    .navbar_menu.active {
        left: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
     
    /* * * * * * * * * * * * * *  Home Page * * * * * * * * * * * * * */
    
    #bg {
        background-size: 100% 85%;

    }
    .home {
        border: 2px solid black;


        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home_box {
       
        border: 2px solid green;

        height: fit-content;
        min-width: fit-content;


    }


    .inner_home_box {
        border: 2px solid palevioletred;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home_box .home_title {
        border: 2px solid red;

        font-size: 2rem;
        font-weight: 600;
        line-height: 1em;

        text-align: center;

        min-width: 20rem;;

        margin: 0;
        padding: 0;
    }

    .home_box .home_paragraph {
        font-size: 1.10rem;
        line-height: 1.35em;
        margin: 0;
        padding: 0;

        text-align: center;
        
    }

    .btn {
        font-size: 1rem;
        font-weight: 200;
        line-height: 1;
        margin: 0;
    }
    
    .social_media_block {
        display: flex;
        min-width: fit-content
    }
    
    .social_block_link {
        font-size: 1.5rem;
        
    }

    /* * * * * * * * * * * * * *  Home Page * * * * * * * * * * * * * */
 


    /* * * * * * * * * * * * * *  Blog Section * * * * * * * * * * * * * */

    .blog_page_header {
        margin-top: 1rem;
    }

    .all_posts_title {
        font-size: 1.65rem;
        margin: 0;
        padding: 0 1rem;
    }

    .all_posts_slug {
        font-size: .85rem;
        margin: 0;
        padding: 0 1rem;
    }

    .blog_categories {
 
        cursor: pointer;
        font-size: .85rem;

        justify-content: flex-start;
        margin-left: 0;
        margin-top: 1rem;
        
        overflow-x: auto;
        padding: 0 1rem;
        width: 23rem;

    }

    .categories {
        flex-shrink: 0;
        height: 100%;
        margin-right: 1.25rem;
    }

    .blog_page_body {
        margin: 1rem 0;
        padding: 0 1rem;
    
    }

    .post_section {
        width: 22.3rem;
    }

    .pic_title_snip{
        margin-left: .25rem;
        margin-bottom: .5rem;
    }

    
    .post_title {
        font-size: 1rem;
        height: auto;
        width: 14rem;
    }

    .post_snippet {
        font-size: .75rem;
        max-height: fit-content;
        max-width: 14rem;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;

    }

    .post_image {
        height: 7.5rem;
        margin-left: .15rem;
        width: 6rem;
    }

    .post_desc {
        margin-left: .55rem;

    }

    .auth_and_opinion {
        margin-top: .5rem;
        max-width: 14rem;
    }

    .pubdate_readtime {
        max-width: 14rem;
    }

    .author{
        font-size: .75rem;
    }

    .publish_date {
        font-size: .65rem;
    }
    
    .opinion, .read_time{
        font-size: .75rem;
    }

    /* * * * * * * * * * * * * *  Blog Section * * * * * * * * * * */

    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
    .footer_links{
        display: flex;
        flex-direction: column;
    }

  .footer_container {
        width: 24.5rem;
        padding: .25rem 0;

        border: 2px solid royalblue;
    }


    .footer_link_items {
        text-align: center;
    
    }


    .footer_link_items h2 {
        font-size: .95rem; 
    }


    .footer_link_items a {
        font-size: .80rem; 
    }

    .social_media_wrap {
        display: flex;
        flex-direction: column;
    }

    .footer_logo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #footer_logo_top {
        font-size: 1rem;
        text-decoration-thickness: 1px;
    }

    #footer_logo_bottom {
        font-size: .85rem;
        margin-bottom: .5rem;
    }

    .website_rights {
        font-size: .90rem;
        margin-bottom: .5rem;
    }

    .social_icon_link {
        color: #ffffff;
        font-size: 1.20rem;
        margin: 0;
    }
    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
}


