/* ================== NAV BAR ==================*/
.navbar{
    background-color: var(--color-site-blue);
}


.nav_container {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    position: sticky;
    z-index: 999;
}


logo {
    display: block;
}

.logo {
    color: var(--color-primary-font);
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#top_logo {
    font-size: 1.50rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

#bottom_logo {
    font-size: 1rem;
    margin-top: -3px;
}

.hamburger_menu {
    display: none;
    cursor: pointer;
}


.bar {
    background-color: white;
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    width: 2rem;

}

.no_nav {
    display: none;
}

.navbar_menu {
    display: flex;
    gap: 2rem;
}

hr {
    border: 2px solid #6196B1;
}
/* ================== NAV BAR ==================*/


/* ================== HERO SECTION ==================*/
.home_section{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bg {
    background: var(--color-site-light-grey);
    background-image: url('/static/img/pexels-mirsad-mujanovic-691034.jpeg');
    background-image: radial-gradient(#9F9F9F, #888), url('/static/img/pexels-mirsad-mujanovic-691034.jpeg');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
} 


.inner_home_box{
    color: var(--color-primary-font);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 65%;

}

.home_title {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.1em;
    text-transform: capitalize;
}

.home_paragraph {
    font-size: 1.25rem;
    font-weight: 100;
    text-transform: capitalize;
}



.social_media_block {
    display: flex;
    margin-top: 3rem;
    position: absolute;
}

.social_block_link {
    color:  var(--color-primary-font);
    font-size: 1.5rem;
    padding-right: 1rem;
    
}
/* ================== HERO SECTION * ================== */


/* ================== Recommended Section * ==================*/

.recom_container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem auto 3rem auto;
    position: relative;
}


.rec_icons {
    font-size: clamp(1rem, 70vw, 2.5rem);
    color: var(--color-site-blue);
    text-shadow: 0.50px 0.50px rgba(0, 0, 0.1);
}

.rec_desc {
    text-align: center;
}

.recommend_items:nth-child(3){
    font-size: 1.30rem;
}

.recommend_items {
    align-items: center;
    border: 1px solid var(--color-site-blue);
    border-radius: 8px;
    box-shadow: .60rem .60rem .60rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 9rem;
    justify-content: space-around;
    width: 7rem;

}

.recommend_items h3 {
    color: var(--color-primary-font);
    font-size: .80rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.50px 0.50px rgba(0, 0, 0.1);
    position: absolute;
    
}


.recom_photo {
    border-radius: 8px;
    border: 1px solid var(--color-site-blue);
    height: 9rem;
    width: 7rem;
    position: absolute;
}

.newsletter_discover {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.discover {
    font-size: 1rem;
}

.highlights {
    background-color: var(--color-site-blue);
    border-radius: 10px;
    color: var(--color-primary-font);
    padding: 2px 7.5px 2px 7.5px;
}

.discover_link {
    text-decoration: none;
}
/* ================== Recommended Section * ==================*/


/* ==================  Newsletter Section ================== */
.newsletter_section {
    height: auto;
}

#bg_two {
    background: var(--color-site-grey);
    background-image: url('/static/img/pexels-markus-spiske-143577.jpeg');
    background-image: radial-gradient(#9F9F9F, #888), url('/static/img/pexels-markus-spiske-143577.jpeg');
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    margin: 0;
    padding-top: 2rem;
}

.news_container {   
    min-height: 85vh;
    margin-bottom: 0;

}   

.news_container{
    display: flex;
    gap: 5rem;
}

.news_left {
    color: var(--color-primary-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.news_desc {
    font-size: 2vw;
    line-height: 1.25em;
    text-align: justify;
}



.news_right {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.description_two {
    line-height: 1.25;
    text-align: justify;
    margin: 0;

}

.curr_desc {
    color: #8ED3FC;
    font-size: 1.25rem;
}

.newsletter_image{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.newsletter_image a {
    margin-bottom: 2rem;
}

.newsletter_image .curr_newsletter {
    height: 28rem;
    width: 20rem;
}

#newsletter_news_block {
    margin-bottom: 2rem;
}






/* * * * * * * * * * * * * *  Blog Section Home Page * * * * * * * * * * * * * */

.blog_section{
    height: auto;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: var(--color-primary-font);
    border: 2px solid var(--color-site-blue);
    border-radius: 8px;
    display: grid;
    grid-template-areas: "image" "text" "stats";
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 90px;
    position: relative;
    text-align: center;
     
}

.card a{
    text-decoration: none;

}

.blog_card_image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:12.55rem;
    width: 18.75rem;
}

.card_text {
    grid-area: text;
    margin: .25rem 1rem 1rem 1rem;
}

.card_text .date {
    color: #6196B1;
    font-size: .90rem;
    margin: 1rem 0 1rem 0;
}

.card_text p {
    color: gray;
    font-size: .90rem;
    font-weight: 300;
    text-align: justify;
}

.card_text h2{
    color: black;
    line-height: 1.75rem;
    margin: .5rem 0 1rem 0;
    font-size: 1.35rem;

}

.card_stats {
    background: #6196B1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0px;
    display: grid;
    grid-area: stats;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: absolute;
    width: 18.75rem;
}


.card_stats .stat {
    align-items: space;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

}

.card_stats .type {
    font-size: 11px;
    font-weight: 300;
}

.card_stats .value {
    font-size: 1rem;
    font-weight: 500;
}

.card_stats .border {
    border-left: 1px solid #ffffff;
}

.card_stats .value sup{
    font-size: 12px;
}


.home_page_blog_button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}


.blue_social_media_block {
    display: flex;
    gap: 1rem;
}


.blue_social_block_link {
    color:  var(--color-site-blue);
    font-size: 1.5rem;
}


/* * * * * * * * * * * * Blog Section * * * * * * * * * * * */ 

/* * * * * * * * * * *  About Us Section * * * * *  * * * * * */
.about_us_section{
    height: 100vh;
    
}

.about_bx{
    display: flex;
}

.about_inner_bx{
    border-radius: 8px 0 0 8px;
    align-items: center;
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about_bx_title {
    margin-top: 1rem;
    padding: .5rem 1.5rem;
}

.about_bx_desc {
    margin: 1rem 0 2.5rem 0;
    text-align: justify;
    width: 65%;
}

.about_inner_bx_two {
    align-items: center;
    background-color: var(--color-site-blue);
    border-radius: 0 8px 8px 0;
    color: var(--color-primary-font);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    width: 35%;
}


.about_li {
    cursor: pointer;
    font-size: 1.25rem;
    list-style: none;
    margin-top: .75rem;
    transition: var(--transition); 
}

.about_li:nth-child(4){
    margin-bottom: 1rem;
}

.hidden_text {
    display: none;
    margin-top: .5rem;
}

.about_li::before {
    content: "+ ";
}

.about_li:hover::before {
    content: "- "
}

.about_li:hover {
    color: #ecf0f2;
}



.about_li:hover .hidden_text {
    animation: fadeIn 1.5s;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: none;
    display: block;
    font-size: .85rem;
    font-weight: 100;
    line-height: 1.25;
    margin-bottom: 1rem;
    padding: .5rem .5rem;
}


/* * * * * * * * * * *  About Us Section * * * * * * * * * * */ 

/* * * * * * * * * * *  Disclaimer Section * * * * * * * * * * */ 
.disclaimer_section{
    height: auto;
}



.disclaimer_title{
    color: #6196B1;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;

}

.disclaim {
    margin-bottom: 1rem;
    text-align: justify;
}

.disclaim_warranty{
    font-size: 1rem;
    margin-bottom: 1rem;
}


/* * * * * * * * * * *  Disclaimer Section * * * * * * * * * * */





/* * * * * * * * * * *  Contact Section * * * * * * * * * * */
.contact_email_section{
    margin-bottom: 4rem;
}

.contact_section_title {
    color: #6196B1;
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0 0 4rem;
}

.contact_section_h4 {
    color: black;
    font-size: 1.25rem;
    font-weight: 100;
    margin-left: 4rem;
}

.email_form p {
    margin-bottom: 1.5rem;
}

.email_container{
    display: flex;
    justify-content: center;  
}

#id_name, #id_email_address, #id_message{
    border: 1px solid #6196B1;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding-left: .5rem;
    width: 22rem;
}

#id_name, #id_email_address {
    height: 1.85rem;
    
}

#id_message {
    padding-top: .5rem;
    resize: none;
}

.input_submit {
    background-color: #6196B1;
    border: 1px solid #5C5757;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;

    padding: .25rem .50rem .25rem .50rem;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    transition-property: box-shadow, transform;
    user-select: none;
    white-space: nowrap;
    will-change: box-shadow, transform;
}


/* * * * * * * * * * *  Contact Section * * * * * * * * * * */







/* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
.section_foot {
    background-color: var(--color-site-blue);
    margin-top: 2.5rem;
    width: 100vw;

}

.footer_container {
    align-items: center;
    display: flex;
}


.footer_links_wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer_link_items {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: left;
}

.footer_link_items h2{
    color: var(--color-primary-font);
    font-size: 1.25rem;
    margin-bottom: .3rem;

}


.footer_link_items a {
    color: var(--color-primary-font);
    margin-bottom: 0.2rem;
    transition: var(--transition);
}

.footer_link_items a:hover {
    color: var(--color-site-grey);
    transition: 0.3s ease-out;
}

.footer_logo {
    display: block;
}


#footer_logo_top {
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1.5px;
}

#footer_logo_bottom {
    align-items: center;
    color: var(--color-primary-font);
    cursor: pointer;
    display: flex;
    font-size: .96rem;
    margin-top: -3px; 
    text-decoration: none;
    
}

.social_icon_link {
    color:var(--color-primary-font);
    font-size: 1.5rem;
}

.social_media{
    background-color: #5C5757;
    padding: 1rem 0 1rem 0;
}

.social_media_wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
   
   
}

.social_icons {
    display: flex;
    gap: 1rem;
}

.website_rights {
    color: var(--color-primary-font);
    text-align: center;
}