/* * * * * * * *  Shopping Cart * * * * * * * */
.shop_cart_section{
    height: auto;
    
}
.shop_cart_container {
    min-height: 100vh;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

table th, table td {
    font-size: 1rem;
    margin: 0;
    padding: .75rem;
    text-align: left;
    
}

.table_prod_name {
    font-size: 1.25rem;
    text-align: left;
    width: 25%;

}


tbody tr:nth-child(odd) {
    background: var(--color-table-grey);
}

thead th, tbody tr.total {
    background:var(--color-site-grey);
    color: var(--color-primary-font);
    font-weight: bold;
}

table.cart {
    margin-bottom: 2.5rem;
}

table.cart img {
    box-shadow: 3px 3px 3px var(--color-secondary-font);
    height: 16rem;
    margin-bottom: .5rem;
    width: 12rem; 
}

tbody td.num {
    text-align: left;
}

a.button, input[type="submit"] {
    color: var(--color-primary-font);
    cursor: pointer;
    background:var(--color-site-blue);
    border-radius: 8px;
    padding: 4px 14px;
    font-size: 1rem;
    border:0;
}

a.button.light {
    color:#5C5757;
    background:#ededed;
    text-decoration: none;
}

a.button.dark {
    color:#ffffff;
    background:#6196B1;
    text-decoration: none;
}

.text_right {
    text-align:right;
    margin: 0 3rem 2rem 0;

}

.mobile_cart {
    display: none;
}



/* * * * * * * * Sticky Cart * * * * * * * */

#subheader {
    position: relative;
    background: var(--color-bg-secondary);
    height: fit-content;
    padding: .5rem 0;
    overflow:auto;
}


.site_cart {
    align-items: center;
    background-color: #264f64;
    border-radius: 50%;
    display: flex;
    float: right;
    font-size: .75rem;
    height: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    width: 1rem;
}


.fa-laptop {
    font-size: 1.75rem;
    color: var(--color-site-blue);
    margin-left: -2.5rem;
    margin-top: .5rem;
    position: absolute;

}

/* * * * * * * * Sticky Cart * * * * * * * */


/* * * * * * * *  Success Section * * * * * * * */ 
.success_section {
    height: 20vh;
}
.success_section h1 {
    width: 100%;
}

.success_section p {
    margin: 0 0 0 4rem;
    width: 100%;
    text-transform: capitalize;
}

.purchase_list {
    margin-top: 2rem;
    
}


.purchase_list li {
    margin: 1rem 0 0 4rem;
    width: 100%;
    text-transform: capitalize;
    list-style: none;
}

.download_list li {
    text-decoration: none;
    
}

.download_button{
    color:#fff;
    background:#6196B1;
    border:0;
    border-radius:4px;
    font-size:12px;
    justify-items: flex-end;
    padding: 4px 14px;
    
    text-decoration: none;
}

#test_pic {
    height: 8rem;
    width: 6rem;
}


.table_data_button {

    background:#6196B1;
    border-radius:4px;
    padding: 4px 14px;
    font-size:12px;
    border:0;   
}

.table_data_button a {
    color: white;
    text-decoration: none;
    
}

.order_form {
    float:left;
}


.order_form label, .order_form input {
    float:left;
    clear:both;
}

.order_form label {
    font-size:14px;
    padding-bottom:4px;
}

.order_form input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    background:#efefef;
    color:#666;
    border-radius:4px;
}