{% extends 'layout.html' %}

{% block title %}
    Checkout
{% endblock %}

    {% block main %}
        <section class="checkout_section">
            <h1 class="checkout_title">Checkout</h1>
            <div class="order_info">
                <h3>Your Order</h3>
                <ul>
                    {% for item in cart %}
                    <li>
                        {{ item.quantity }} x {{ item.product.name }} |
                        <span>${{ item.total_price }}</span>
                    </li>
                    {% endfor %}
                </ul>
                <p>Total: ${{ cart.get_total_price }}</p>
            </div>
            <form method="post" class="order_form">
                {{ form.as_p }}
                <p><input type="submit" value="Place Order" class="button is-primary" id="submitBtn"></p>
                {% csrf_token %}
            </form>
            <button class="button is-primary" id="submitBtn">Purchase!</button>
            {% csrf_token %}
        </section>
    {% endblock %}

