@media(max-width:390px){


    .navbar {
        padding: 0 1rem;
        margin: 0;
    }

    #top_logo {
        font-size: 1rem; 
        text-decoration-thickness: 1.10px;
    }
    
    #bottom_logo {
        font-size: .70rem;
    }

    .hamburger_menu {
        display: block;

    }

    .hamburger_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #6196B1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }

    .navbar_items {
        margin: 1rem 0;
    }

    .navbar_menu.active {
        left: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
     
    /* * * * * * * * * * * * * *  Home Page * * * * * * * * * * * * * */


    #bg {
        background-position: top 0rem left -25rem;
        image-rendering: pixelated;
        height: 45rem;
    }


    .home_box {
        
        margin-top: 2rem;
        min-width: fit-content;
        height: 20rem;

    }


    .inner_home_box {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: flex-start;
        margin: 0;
        top: 0;        
    }

    .home_box .home_title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1em;
        margin: 0 0 1rem 0;
        min-width: 20rem;
        text-align: left;

        
    }

    .home_box .home_paragraph {
        font-size: 1.10rem;
        line-height: 1.35em;
        margin: 0 0 1rem 0;
        text-align: left;
       
    }

    .btn {
        font-size: 1rem;
        font-weight: 200;
        line-height: 1;
        margin: 0;
    }
    
    .social_media_block {
        margin: 2rem 0 0 .2rem;

    }
    
    .social_block_link {
        font-size: 1.5rem;
    }

    /* * * * * * * * * * * * * *  Home Page * * * * * * * * * * * * * */
    
    /* * * * * * * * * * * * * * Recommended Section * * * * * * * * * * * * * */
    .recom_title {

        font-size: 1.55rem;

    }

    .rec_icons {
        font-size: 1.5rem;

    
    }

    .recommend_items {
        height: 7rem;
        width: 5rem;
    
    }

    .recommend_items:nth-child(1) {
       font-size: .65rem;
    }

    .recommend_items:nth-child(2) {
        font-size: .65rem;
     }
    
    .recommend_items:nth-child(3){
        font-size: 1rem;
    }

    .recommend_items h3 {
        font-size: .55rem;
        font-weight: 300;
        margin-bottom: 4.75rem;
    }

    .recom_photo {
        height: 7rem;
        width: 5rem;
    }


    /* * * * * * * * * * * * * * Recommended Section * * * * * * * * * * * * * */

    /* * * * * * * * * * * * * * Newsletter Section * * * * * * * * * * * * * */

    #bg_two {
        background-position: top 0rem left -25rem;
        image-rendering: pixelated;
        height: 50rem;
    }

    .newsletter_title {
        font-size: 1.55rem;
    }

    .newsletter {
        align-items: center;
        flex-direction: column;
        margin: 0 0 0 0;
    }

    .newsletter_description {
        margin: 1rem 0 1.5rem 0;
        order: 0;
        text-align: justify;
        width: 90%;  
    }
  
    .news_desc {
        font-size: 1rem;
        font-weight: 600;
    }

    .description_two {
        line-height: 1.15;
        order: 2;
        text-align: justify;
        width: 14rem;

        margin: 0;
        padding: 0;
    }
    
    .curr_desc {
        font-size: .95rem;
        margin: 0;
    }

    .newsletter_image {
        margin-bottom: 1rem;
    }
  
    .curr_newsletter {
        height: 17rem;
        width: 14rem; 
        
    }
    /* * * * * * * * * * * * * * Newsletter Section * * * * * * * * * * * * * */

    /* * * * * * * * * * * * * *  Blog Section Home Page * * * * * * * * * * * * * */
    .blog_section_title {
        font-size:1.55rem;
    }

    .card {
        grid-template-rows: 9.12rem 7.12rem 2.75rem;
    }

    .card_image {
        /* background-size: cover; */
        background-position: top 10rem left 0;
    }

    .card_text .date {
        font-size: .75rem;
    }
    .card_text h2{
        font-size: 1.40rem;
        margin-top: 0px;
    }

    .card_text p {
        font-size: .90rem;
        font-weight: 200;
        text-align: justify;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    .card_stats .stat {
        padding: 5px;
    }

    
    .card_stats .type {
        font-size: 8px;
        font-weight: 300;
        text-transform: uppercase;
    }
    
    .card_stats .value {
        font-size: 16px;
        font-weight: 400;

    }




    /* * * * * * * * * * * * * *  Blog Section Home Page * * * * * * * * * * * * * */


    

    
    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
    .footer_links{
        display: flex;
        flex-direction: column;
    }

  .footer_container {
        width: 24.5rem;
        padding: .25rem 0;

        border: 2px solid royalblue;
    }


    .footer_link_items {
        text-align: center;
    
    }


    .footer_link_items h2 {
        font-size: .95rem; 
    }


    .footer_link_items a {
        font-size: .80rem; 
    }

    .social_media_wrap {
        display: flex;
        flex-direction: column;
    }

    .footer_logo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }

    #footer_logo_top {
        font-size: 1rem;
        text-decoration-thickness: 1px;
    }

    #footer_logo_bottom {
        font-size: .85rem;
        margin-bottom: .5rem;
    }

    .website_rights {
        font-size: .90rem;
        margin-bottom: .5rem;
    }

    .social_icon_link {
        color: #ffffff;
        font-size: 1.20rem;
        margin: 0;
    }
    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 

}




