
@media(min-width:1800px){
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */
    #top_logo {
        font-size: 1.75rem;
    }
    
    #bottom_logo {
        font-size: 1.20rem;
    }

    .navbar_links {  
        font-size: 1.20rem;
    }
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */


    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */

    .home_box .home_title {
        font-size: 4.10rem;
    }

    .home_box .home_paragraph {
        font-size: 1.75rem;
        margin-left: 3rem; 
    }

    .btn {
        font-size: 1.5rem;
        font-weight: 200;
        margin-left: 3rem;
    }
    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */



    /* * * * * * * * * * *  Recommended Section * * * * * * * * * * */
    .recom_title {
        font-size: 3rem;
    }

    .rec_icons {
        font-size: 3rem;
    }

    .recommend_items {
        height: 12rem;
        width: 10rem;
    }

    .recommend_items h3 {
        font-size: 1rem;
    }

    .recommend_items .rec_desc{
        font-size: 1.5rem;
        line-height: 1.75rem;;
    }

    .recom_photo {
        height: 12rem;
        width: 10rem;
    }
    
    /* * * * * * * * * * *  Recommended Section * * * * * * * * * * */



    /* * * * * * * * * * * Newsletter Section * * * * * * * * * * * */
    .newsletter_title {
        font-size: 3rem;
    }

    .news_desc {
        font-size: 2.40rem;
        line-height: 1.2em;
    }

    .discover {
        font-size: 1.5rem;
    }

    .curr_desc {
        font-size: 1.5rem;
    }

    .curr_newsletter {
        height: 35rem;
        width: 25rem;
    }

    .newsletter_btn {
        font-size: 1.75rem;
    }
    
    /* * * * * * * * * * * Newsletter Section * * * * * * * * * * * */


    /* * * * * * * * * *  Blog Section Home Page * * * * * * * * * */
    .blog_section_title {
        font-size: 3rem;
    }

    .card {
        grid-template-columns: 32rem;
        grid-template-rows: 20rem 20rem 4rem;         
    }

    .blog_card_image {
        height: 19rem;
        width: 32rem;
    }
    
    .card_text .date {
        font-size: 1rem;
    }

    .card_text h2{
        font-size: 2rem;
    
    }

    .card_text p {
        font-size: 1.25rem;
    }

    .card_stats {
        width: 32rem;
    }

    .card_stats .type {
        font-size: 1.35rem;
    }

    .card_stats .value {
        font-size: 1.35rem;
    }

    .card_stats .value sup{
        font-size: 1rem;
    }

    .blog_btn {
        font-size: 1.75rem;
    }

    /* * * * * * * * * *  Blog Section Home Page * * * * * * * * * */


    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */

    .footer_link_items {
        font-size: 1.5rem;
        margin: 1rem;
        text-align: left;

      
    }
    
    .footer_link_items h2{
        color: #ffffff;
        font-size: 1.75rem;
        margin-bottom: .3rem;
        width: fit-content;
    }

    .footer_link_items a {
        font-size: 1.50rem;
    }

    #footer_logo_top {
        font-size: 1.75rem;
    }
    
    #footer_logo_bottom {
        font-size: 1.20rem;
    }

    .website_rights {
        font-size: 1.25rem;
    }
    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */

}








@media(max-width:900px){
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */
    #top_logo {
        font-size: 1.25rem;
    }
    
    #bottom_logo {
        font-size: .87rem;
    }

    .navbar_links {  
        font-size: .95rem;
    }
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */

    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */

    .home_box .home_title {
        font-size: 2.75rem;
    }

    .home_box .home_paragraph {
        font-size: 1rem;
    }

    .social_block_link {
        font-size: 1.45rem;
        
    }

    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */


    /* * * * * * * * * * * Newsletter Section * * * * * * * * * * * */

    .news_desc {
        font-size: 1.25rem;
    }

    .discover {
        font-size: .9rem;
    }

   
    .description_two {
        line-height: 1.2;
        width: 20%;
    }

    .curr_desc {
        font-size: .8rem;
    }

    .curr_newsletter {
        height: 20rem;
        width: 13rem;
    }
    
    /* * * * * * * * * * * Newsletter Section * * * * * * * * * * * */

    /* * * * * * * * * *  Blog Section Home Page * * * * * * * * * */

    .card {
        grid-template-columns: 15rem;
        grid-template-rows: 20rem 10rem 4rem;         
    }

    
    .blog_card_image {
        height: 10rem;
        width: 15rem;
    }
   
    .card_text h2{
        font-size: 1.5rem;
    }

    .card_text p {
        font-size: .80rem;
    }
    
    .card_stats {
        width: 15rem;
    }

    .blog_btn {
        font-size: 1rem;
    }


    .blue_social_media_block {
        margin-left:0;
    }
    
    /* * * * * * * * * *  Blog Section Home Page * * * * * * * * * */

}







@media(max-width:600px){
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */
    #top_logo {
        font-size: 1.10rem; 
        text-decoration-thickness: 1.10px;
    }
    
    #bottom_logo {
        font-size: .78rem;
    }

    .hamburger_menu {
        display: block;

    }

    .hamburger_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #6196B1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }

    .navbar_items {
        margin: 1rem 0;
    }

    .navbar_menu.active {
        left: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */

    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */

    .home_box{
        max-width: 70%;
    }

    .home_box .home_title {
        font-size: 2rem;
    }

    .home_box .home_paragraph {
        font-size: .8rem;
        margin-left: 3rem;
    }

    .btn {
        font-size: 1rem;
        margin-left: 3rem;
    }

    .social_block_link {
        font-size: 1.25rem;
        
    }

    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */

    /* * * * * * * * * * * Newsletter Section * * * * * * * * * * * */

    .newsletter {
        flex-direction: column;
    }

    .newsletter_description {
        order: 0;
        margin: -1rem 0 1.5rem 0;
        width: 95%;
    }

    .discover {
        font-size: .8rem;
    }

    .news_desc {
        font-size: 1.25rem;
    }

    .description_two {
        line-height: 1.15;
        margin: 1.5rem 0 1rem 0;
        order: 2;
        text-align: justify;
        width: 90%;
    }

    /* * * * * * * * * * * Newsletter Section * * * * * * * * * * * */



    /* * * * * * * * * *  Blog Section Home Page * * * * * * * * * */

    .card_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    
    /* * * * * * * * * *  Blog Section Home Page * * * * * * * * * */



    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */

    .footer_link_items {
        margin: 1rem;
        text-align: left;
    }
   
    .footer_link_items h2{
        font-size: .80rem;
        width: fit-content;
    }

    
    .footer_link_items a {
        font-size: .75rem;
    }

     
    #footer_logo_top {
        font-size: 1rem;
    }
    
   
    #footer_logo_bottom {
        font-size: .70rem;
    }

    

    .website_rights {
        font-size: .65rem;
        text-align: center;
        width: 25%;
    }
    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */

}




@media(max-width:375px){

    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */
    .navbar {
        background-size: 100% 100%;
        padding: 0 1.5rem;
    }
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */



    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */

    .home_box {
        border: 2px solid gold;
    }
    
    .home_box .home_title {
        font-size: 1.75rem;
        font-weight: 400;
        margin-left: 1rem;
    }

    .home_box .home_paragraph {
        font-size: .75rem;
        margin: 1rem 0 0 1rem;
    }

    .btn {
        margin-left: 1rem;
    }

    .social_block {
        margin-left: 1rem;
    }

    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */


    /* * * * * * * * * * * Recommended Section * * * * * * * * * * */
    .recom_title {
        font-size: 1.60rem;
    }

    
    .recomend_wrapper {

        border: 2px solid red;
        padding: 0 1rem;

        

        /* 
        background-color: #ffffff;
        
        flex-wrap: wrap;
        
        margin-top: 2rem;
        margin-bottom: 2rem; */
    }

    .recommend_items {
        border: 2px solid blue;
      
       
    }

   
 

     /*

    .rec_icons {
        border: 2px solid blue;
        font-size: 2rem;
        color: #6196B1;
        text-shadow: 0.50px 0.50px rgba(0, 0, 0.1);
    }
    .rec_desc {
        text-align: center;
    }

    .recommend_items:nth-child(3){
        font-size: 1.30rem;
    }

    .recommend_items {
        align-items: center;
        border: 1px solid #6196B1;
        border-radius: 8px;
        box-shadow: .60rem .60rem .60rem rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        height: 9rem;
        justify-content: space-around;
        transform: scale(1.02) translate(2px);
        width: 7rem;

    }

    .recommend_items h3 {
        color: #ffffff;
        font-size: .80rem;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        text-shadow: 0.50px 0.50px rgba(0, 0, 0.1);
        position: absolute;

        margin-bottom: 6rem;
        
    }


    .recom_photo {
        border-radius: 8px;
        border: 1px solid #6196B1;
        height: 9rem;
        width: 7rem;

        position: absolute;
    }
        */


}


   
