/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px){
     /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */
     #top_logo {
        font-size: 1.25rem; 
        text-decoration-thickness: 1.10px;
    }

 
    #bottom_logo {
        font-size: .85rem;
    }

    .hamburger_menu {
        display: block;

    }

    .hamburger_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_menu {
        background: var(--color-site-blue);
        flex-direction: column;
        gap: 0;
        left: -100%;
        position: fixed;
        text-align: center;
        transition: 0.3s;
        top: 70px;
        width: 100%;
        z-index: 99;
    }

    .navbar_items {
        margin: 1rem 0;
    }

    .navbar_menu.active {
        left: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */


    /* * * * * * * * * *  Newsletter Section * * * * * * * * * * */

    .news_container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .news_left {
        align-items: center;
    }


    .news_desc {
        font-size: 1.40rem;
        line-height: 1.15em;
        margin-bottom: 1rem;
    }

    .news_block {
        display: none;
    }

    .description_two {
        line-height: 1.15;
        margin: 0;
        width: 90%;
    }
    
    .curr_desc {
        font-size: 1rem;
    }

    .newsletter_image{
        gap: 0rem;
        margin-bottom: 2rem;

    }

    .newsletter_image .curr_newsletter {
        height: 14rem;
        width: 11rem;
    }
    /* * * * * * * * * *  Newsletter Section * * * * * * * * * * */




    
   

}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px){
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */
    #top_logo {
        font-size: 1.10rem; 
        text-decoration-thickness: 1.10px;
    }
    
    #bottom_logo {
        font-size: .75rem;
    }

    .hamburger_menu {
        display: block;

    }

    .hamburger_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--color-site-blue);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }

    .navbar_items {
        margin: 1rem 0;
    }

    .navbar_menu.active {
        left: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    /* * * * * * * * * * * * * *  NavBar * * * * * * * * * * * * * */

    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */

    .home_title {
        font-size: 2rem;
    }

    .home_paragraph {
        font-size: .9rem;
        width: 11rem;
    }
    /* * * * * * * * * * * *  Hero Section * * * * * * * * * * * * */


    /* * * * * * * * * * * Recommended Section * * * * * * * * * * */
    

    .recommend_items {
        margin: 1rem .25rem 1rem .25rem;
      
    }

    .discover {
        font-size: .8rem;
    }

    /* * * * * * * * * * * Recommended Section * * * * * * * * * * */
 

    /* * * * * * * * * *  Newsletter Section * * * * * * * * * * */


    .news_container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .news_desc {
        font-size: 1.10rem;
        line-height: 1em;
        margin-top: .5rem;
        margin-bottom: 1rem;

    }

    .news_left {
        gap: 0;
    }

    .news_block {
        display: none;
    }

    .description_two {
        line-height: 1.15;
        margin: 0;
    }
    
    .curr_desc {
        font-size: .8rem;
    }


    .newsletter_image .curr_newsletter {
        height: 11rem;
        width: 8rem;
    }
    /* * * * * * * * * *  Newsletter Section * * * * * * * * * * */



    /* * * * * * * * * * *  About Us Section * * * * *  * * * * * */
    .about_us_section {
        height: auto;
    }

    .about_bx{
        flex-direction: column;
    }

    .about_inner_bx{
        border-radius: 8px 8px 0 0;
        flex-direction: column;
    }

    .about_bx_desc {
        margin: 1rem 0 2.5rem 0;
        text-align: justify;
        width: 75%;
    }

    .about_inner_bx_two {
        border-radius: 0 0 8px 8px;
        width: 100%;
        
    }
    


    /* * * * * * * * * * *  About Us Section * * * * *  * * * * * */



    /* * * * * * * * * *  Footer  * * * * * * * * * * */
    .footer_container{
        flex-direction: column;
    }


    .footer_link_items h2 {
        
        font-size: 1rem;
    }

    .footer_link_items a {
        text-align: center;
        transition: var(--transition);
    }


    .social_media_wrap {
        flex-direction: column;
        gap: 1rem;
        margin-top: .25rem;
        padding: 0 0 0 0;
    }

  

    /* * * * * * * * * *  Footer  * * * * * * * * * * */

   


}