@media(min-width:1800px){
    /* * * * * * * * * * * * List HTML * * * * * * * * * * * */

    .library_title {
        font-size: 3rem;
    }


    #sidebar h3{
        font-size: 1.25rem;
    }

    #sidebar li {
        font-size: 1rem;
    }

    .product_library {
        justify-content: center;
        width: 100%;
    }

    .product_list .item img {
        height: 20rem;
        width: 15rem;
    }

    #main {
        justify-content: space-evenly;
        margin: 1rem 0 0 0;
        max-width: 100%
        
    }

    .item {
        font-size: 1.25rem;
    }

    /* * * * * * * * * * * * Detailed * * * * * * * * * * * */
    .curr_newsletter {
        height: 35rem;
        width: 28rem;
    }

    .title_block {
        font-size: 1.75rem;
    }

    .category_block {
        font-size: 1.25rem;
        margin: 0 0 0 11rem;
    }

    .product_description {
        font-size: 1.20rem;
    }


    #cart_add{
        font-size: 1rem;
    }

    #quantity_selection {
        font-size: 1.20rem;
    }

    /* * * * * * * * * * * * Detailed * * * * * * * * * * * */

}



@media(max-width:600px){
     /* * * * * * * * * * * * List HTML * * * * * * * * * * * */
    .product_list .item img {
        height: 12rem;
        width: 8rem;
    }

    .item {
        font-size: 1rem;
        margin: 1rem 0 0 1rem;
        width: 8.25rem;
    }
     /* * * * * * * * * * * * List HTML * * * * * * * * * * * */


     /* * * * * * * * * * * * Detailed * * * * * * * * * * * */
     .product_details_container {
        align-items: center;
        flex-direction: column;
        height: fit-content;

     }


     .library_title{
        margin-left: 1rem;
        width: 12rem;
     }

     .product_details_image {
        margin: 0 0;
     }

     .curr_newsletter {
        height: 16rem;
        margin-top: 1rem;
        width: 13rem;
    }

    .description_block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description_block h1 {
        margin: 1rem 0;
        text-align: center;
    }

    .category_block {
        margin: 0 0 0 0;
        text-align: center;
    }

    .product_description {
        margin-top: 1rem;
        text-align: justify;
    }

    .product_price {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    #cart_add {
        margin-bottom: 1rem;

    }

     /* * * * * * * * * * * * Detailed * * * * * * * * * * * */
}

@media(max-width:375px){

     /* * * * * * * * * * * * List HTML * * * * * * * * * * * */
     #sidebar {
        margin: 3rem 0 0 1rem;
    }

    .item {
        font-size: .80rem;
    }

}





    