/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px){
    /* * * * * * * *  Shopping Cart * * * * * * * */
    .shop_cart_section {
        display:none;
       
    }
    
    .mobile_cart {
        display: block;
        height: fit-content;
        margin: 2rem 0;
    }

    .mobile_cart_a {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
        padding: .5rem .5rem;
    }

    .mobile_cart_a:nth-child(odd) {
    background: var(--color-table-grey);
    }

    .mobile_prod_img{
        height: 8rem;
        width: 6rem; 
    }

    .mobile_prod_name{
        font-size: .85rem;
        margin-bottom: .5rem;
    }

    .mobile_prod_price, .mobile_total_price{
        font-size: 1rem;
        margin-bottom: .25rem;

    }

    form input[type="submit"] {
        font-size: .9rem;
        margin-top: .5rem;
    }

    .mobile_cart_total {
        color: var(--color-site-grey);
        font-size: 1rem;

    }

    .mobile_button_light, .mobile_button_dark, input[type="submit"] {
        color: var(--color-primary-font);
        background: var(--color-site-blue);
        border-radius:8px;
        padding: 4px 14px;
        font-size: 1rem;
        border:0;
    }

    .mobile_button_light {
        color:#5C5757;
        background:#ededed;
        text-decoration: none;
    }
    
    .mobile_button_dark {
        color:#ffffff;
        background:#6196B1;
        text-decoration: none;
    } 

    .column_div{
        display: flex;
        gap:.5rem;
    }

    .mobile_text_right {
       margin: 1rem 0 1rem 0;

    
    }

     /* * * * * * * *  Shopping Cart * * * * * * * */
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px){

    /* * * * * * * *  Shopping Cart * * * * * * * */
    .shop_cart_section {
        display:none;
       
    }
    
    .mobile_cart {
        display: block;
        height: fit-content;
        margin: 2rem 0;
    }

    .mobile_cart_a {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
        padding: .5rem .5rem;
    }

    .mobile_cart_a:nth-child(odd) {
    background: var(--color-table-grey);
    }

    .mobile_prod_img{
        height: 8rem;
        width: 6rem; 
    }

    .mobile_prod_name{
        font-size: .85rem;
        margin-bottom: .5rem;
    }

    .mobile_prod_price, .mobile_total_price{
        font-size: 1rem;
        margin-bottom: .25rem;

    }

    form input[type="submit"] {
        font-size: .9rem;
        margin-top: .5rem;
    }

    .mobile_cart_total {
        color: var(--color-site-grey);
        font-size: 1rem;

    }

    .mobile_button_light, .mobile_button_dark, input[type="submit"] {
        color: var(--color-primary-font);
        background: var(--color-site-blue);
        border-radius:8px;
        padding: 4px 14px;
        font-size: 1rem;
        border:0;
    }

    .mobile_button_light {
        color:#5C5757;
        background:#ededed;
        text-decoration: none;
    }
    
    .mobile_button_dark {
        color:#ffffff;
        background:#6196B1;
        text-decoration: none;
    } 

    .column_div{
        display: flex;
        gap:.5rem;
    }

    .mobile_text_right {
       margin: 1rem 0 1rem 0;

    
    }

     /* * * * * * * *  Shopping Cart * * * * * * * */

}