@media(max-width:390px){
    .navbar {
        padding: 0 1rem;
        margin: 0;
    }

    #top_logo {
        font-size: 1rem; 
        text-decoration-thickness: 1.10px;
    }
    
    #bottom_logo {
        font-size: .70rem;
    }

    .hamburger_menu {
        display: block;

    }

    .hamburger_menu.is_active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger_menu.is_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger_menu.is_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar_menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #6196B1;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }

    .navbar_items {
        margin: 1rem 0;
    }

    .navbar_menu.active {
        left: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    /* * * * * * * * * * * * Details * * * * * * * * * * * */
    .product_details_container {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .product_details_image {
        margin-left: 0rem;
    }
    
    .description_block h1 {
        margin-top: 1rem;
        text-align: center;
        width: 75%;
        
    }

    .curr_newsletter {
        height: 21rem;
        width: 14rem;
    }

    .title_block {
        font-size: 1.15rem;
    }

    .product_description {
        font-size: .95rem;
        margin-top: 2rem;
        text-align: justify;
    }

    .product_price {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
    }

    #cart_add {
        height: 2rem;
        margin: 0 0 1rem 0rem;
        width: 10rem;

    }

    #quantity_selection {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: .4rem;
       
    }

    /* * * * * * * * * * * * Details * * * * * * * * * * * * /


    /* * * * * * * * * * * * List HTML * * * * * * * * * * * */
    .library_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #sidebar{
        margin: 1rem 0 1rem 1rem;
    }

    .section_title {
        display: flex;
        justify-content: center;
        margin-top: .5rem;
        text-shadow: .70px .70px rgba(0, 0, 0.1);
    }

    .product_library {
        margin: 0 1rem 0 1rem;
        
    }
    
    .library_title {
        font-size: 2rem;
        margin-left: 0rem;
    }

    #main {
        justify-content: space-between;
        margin: 1rem 0 0 0rem;
    }

    .item {
        font-size: .75rem;
        gap: .5rem;
        line-height: 1.25;
        text-align: center;
        width: 10rem;
    }
    
    .product_list .item img {
        height: 10rem;
        width: 7.5rem;
    }

    /* * * * * * * * * * * * List HTML * * * * * * * * * * * */



    /* * * * * * * * * * * * Shopping Cart HTML * * * * * * * * * * * */
    h1.shopping_cart {
        font-size: 1.55rem;
        margin-left: 1rem;
    }

    .table_scroll {
        overflow-x: auto;
        margin-right: 1rem;
    }

    table {
        margin-left: 1rem;
        
    }

    table thead tr th {
        padding: .25rem;
        line-height: 1rem;
        
    }

    table thead tr th:nth-child(3){
        min-width: 8rem;
    }
  
    table th, table td {
        font-size: .75rem;
        text-align: left;
        
    }

    .text_right {
        text-align:right;
        margin: 0 1rem 0 0;
    
    }



    table.cart img {
        box-shadow: 3px 3px 3px black;
        height: 7rem;
        margin-bottom: .5rem;
        width: 4.5rem; 

    }



    /* * * * * * * * * * * * Shopping Cart HTML * * * * * * * * * * * */



    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
    .footer_links{
        display: flex;
        flex-direction: column;
    }

  .footer_container {
        width: 24.5rem;
        padding: .25rem 0;

        border: 2px solid royalblue;
    }


    .footer_link_items {
        text-align: center;
    
    }


    .footer_link_items h2 {
        font-size: .95rem; 
    }


    .footer_link_items a {
        font-size: .80rem; 
    }

    .social_media_wrap {
        display: flex;
        flex-direction: column;
    }

    .footer_logo {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
    }

    #footer_logo_top {
        font-size: 1rem;
        text-decoration-thickness: 1px;
    }

    #footer_logo_bottom {
        font-size: .85rem;
        margin-bottom: .5rem;
    }

    .website_rights {
        font-size: .90rem;
        margin-bottom: .5rem;
    }

    .social_icon_link {
        color: #ffffff;
        font-size: 1.20rem;
        margin: 0;
    }
    /* * * * * * * * * * * * Footer Section * * * * * * * * * * * */ 
}