
@media(min-width:1800px){
    /* * * * * * * *  Checkout Section * * * * * * * */ 
    .checkout_title {
        font-size: 3rem;
    }

    .order_info {
        background-color: #efefef;
        float: right;
        margin-right: 5rem;
        padding: .5rem 1.25rem;
        width: 500px;
    }

    .order_info h3 {
        font-size: 1.35rem;
    }
    
    .order_info ul li {
        font-size: 1.5rem;
    }
    
    .order_info p {
        font-size: 1.55rem;
    }

    label.form_label {
        font-size: 1.5rem;   
    }

    #customer_email {
        margin-bottom: 2rem;
        width: 380px
    }

    #customer_first_name, #customer_last_name{
        width: 380px
    }
    
    .order_form input[type="submit"] {
        font-size: 1.5rem;
        width: 360px;
    }
    /* * * * * * * *  Checkout Section * * * * * * * */ 



    /* * * * * * * *  Success Section * * * * * * * */ 
    #download_pic {
        height: 12rem;
        width: 10rem;
    }

    .table_data_prod_name {
        font-size: 1.5rem;
    }
    
    .table_data_button {
        font-size: 1.5rem
    }
}


@media(max-width:900px){

}

@media(max-width:600px){
     /* * * * * * * *  Checkout Section * * * * * * * */ 
     .checkout_section{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .checkout_title {
        font-size: 2rem;
        margin: 1rem 0 0 3.5rem;
    }

     .order_info {
        height: auto;
        margin: 1rem 1rem 2rem 3.5rem;
        padding: .5rem 1.25rem;
    }
    
    
    .order_form {
        margin: 0 0 2rem 3.5rem;
    
    } 
    /* * * * * * * *  Checkout Section * * * * * * * */ 

    /* * * * * * * *  Success Section * * * * * * * */ 
    .success_section{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin: 1rem 0 2rem 0;
        width: 100vw;
        
    }


    .success_section h1 {
        font-size: 1.5rem;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: fit-content;
    }

    .table_head{
        font-size: 1rem;
    }

    .success_section p {
        margin: 0 0 0 0rem;
        width: fit-content;
    }

    .download_table {
        margin: 0 .5rem 0 .5rem;
        width: auto;

    }

    .table_data_prod_name {
        font-size: .75rem;
        margin: 0;
        padding: 0;
    }

    #download_pic {
        height: 8rem;
        width: 6rem;
    }

    table thead tr th.table_head_price{
        min-width: auto;
    }



    /* * * * * * * *  Success Section * * * * * * * */ 



}



@media(max-width:375px) {

    /* * * * * * * *  Checkout Section * * * * * * * */ 
    .checkout_section{
        height: auto;
    }
    
    .checkout_title {
        font-size: 2rem;
        margin: 1rem 0 0 1.5rem;
    }

    .order_info {
        float: left;
        height: auto;
        margin: 1rem 1rem;
 
        padding: .5rem 1.25rem;
    }
    
    .order_form {
        margin: 0 0 4rem 1rem;
    
    }
    /* * * * * * * *  Checkout Section * * * * * * * */ 

    
    /* * * * * * * *  Success Section * * * * * * * */ 
    .success_section{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem 0;
        width: 100vw;
        height: auto;
    }


    .success_section h1 {
        font-size: 1.5rem;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: fit-content;
    }

    .table_head{
        font-size: .90rem;
    }

    .success_section p {
        margin: 0 0 0 0rem;
        width: fit-content;
    }

    .download_table {
        margin: 0 .5rem 0 .5rem;
        width: auto;

    }

    .table_data_prod_name {
        font-size: .75rem;
        margin: 0;
        padding: 0;
    }

    #download_pic {
        height: 6rem;
        width: 4rem;
    }

    table thead tr th.table_head_price{
        min-width: auto;
    }



    /* * * * * * * *  Success Section * * * * * * * */ 


   
    /* * * * * * * *  Success Section * * * * * * * */ 
    .success_section{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem 0 2rem 0;
        width: 100vw;
        height: auto;
    }


    .success_section h1 {
        font-size: 1.5rem;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        width: fit-content;
    }

    .table_head{
        font-size: .90rem;
    }

    .success_section p {
        margin: 0 0 0 0rem;
        width: fit-content;
    }

    .download_table {
        margin: 0 .5rem 0 .5rem;
        width: auto;

    }

    .table_data_prod_name {
        font-size: .75rem;
        margin: 0;
        padding: 0;
    }

    #download_pic {
        height: 6rem;
        width: 4rem;
    }

    table thead tr th.table_head_price{
        min-width: auto;
    }



    /* * * * * * * *  Success Section * * * * * * * */ 

}