{% extends 'store/base.html' %}

{% block title %}
  Payment Successful
{% endblock %}


{% block main %}
<section class="success_section">
  
    <h1>Your Payment Was Successful</h1>
    <p>Thank you for your purchase</p>

</section>

<section class="download_page">
  <table class="download_table">
    <thead>
      <tr>
        <th class="table_head">Newsletter</th>
        <th class="table_head">Edition</th>
        <th class="table_head table_head_price">Price</th>
        <th class="table_head">Download</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in products %}
      <tr class="table_row">
        <td class="table_data test_pic"><img id="test_pic" src="{{ prod.image.url }}"></td>
        <td class="table_data table_data_prod_name">{{ prod.name }}</td>
        <td class="table_data">${{prod.price}}</td>
    
        <td class="table_data table_data_prod_download"><button class="table_data_button"><a href="{{prod.pdf_file.url}}" download>Download</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}