{% extends 'store/base.html' %}


{% block main %}
<div class="product_details_container">
    <div class="product_details_image">
        <img src="{{ product.image.url }}" alt="" class="curr_newsletter">
    </div>
    <div class="description_block">
        <h1 class="title_block"> {% block title %}{{ product.name|linebreaks }}{% endblock %}</h1>
        <h2 class="category_block">{{ product.category }}</h2>
        <div class="product_description">
            <p>{{ product.description|linebreaks }}</p>
        </div>
        <div class="product_price">
            <p>${{ product.price }}</p>
            <form  action="{% url 'cart:cart_add' product.id %}" method="post" id="quantity_selection">
                {{ cart_product_form }}
                {% csrf_token %}
                <input id="cart_add" type="submit" value="Add to Cart">
            </form>
        </div>
    </div>
</div>
{% endblock %}