{% extends 'layout.html' %}

{% block title %}
    Insights
{% endblock %}

{% block main %}
<section class="insights_section">
    <h1 class="section_title_blue">Insights</h1>
    <div class="container insights_container">
        <div class="pic_sector_container">
            
            <div class="sect_img_box">
                <img id="sector_image" class="sector_image overlay" src="%20" alt="">
               <div class="text_on_picture">
                    <div class="text_on_picture_titles">
                        <h1>S&P 500</h1>
                        <h1><span class="sector_title"></span></h1>
                    </div>
                    <div class="sect_box">
                        <div class="sect_boxes">
                            <h2 class="stat_label">P/E</h2>
                            <h3 id="price_earnings_forward" class="sect_stat"></h3>
                        </div>
                        <div class="sect_boxes">
                            <h2 class="stat_label">P/S</h2>
                            <h3 id="price_sales_forward" class="sect_stat"></h3>
                        </div>
                        <div class="sect_boxes">
                            <h2 class="stat_label">P/B</h2>
                            <h3 id="price_book_mrq" class="sect_stat"></h3>
                        </div>
                        <div class="sect_boxes">
                            <h2 class="stat_label">P/CF</h2>
                            <h3 id="price_cashflow" class="sect_stat"></h3>
                        </div>
                    </div>
                    <div class="date_box">
                        <h4>On <span class="as_of_date" id="as_of_date"></span></h4>
                    </div>
               </div>
            </div>
           
            <div class="sectors_box">
                <h1>S&P 500</h1>
                <h2>Sectors</h2>
                <ul>
                    {% for s in sector %}{% if s.pk != 13 %}
                    <li class="sect_names">{{ s }}</li>
                    {% endif %}
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
        <div class="snp_stats">
            {% for s in sector %}{% if s.pk == 13 %}
            <h1>{{ s.sector_name }}</h1>
            {% endif %} {% endfor %}

            <div class="snp_box">
                <div class="snp_stat">
                    <h2>P/E</h2>
                    <h3 >{{ snp.forward_pe }}x<h3>
                </div>
                <div class="snp_stat">
                    <h2>P/S</h2>
                    <h3>{{ snp.forward_ps }}x<h3>
                </div>
                <div class="snp_stat">
                    <h2>P/B</h2>
                    <h3>{{ snp.mrq_pb }}x<h3>
                </div>
                <div class="snp_stat">
                    <h2>P/CF</h2>
                    <h3>{{ snp.pcf }}x<h3>
                </div>
                <div class="snp_stat">
                    <h2>ROE</h2>
                    <h3>{{ snp.roe }}%<h3>
                </div>
                <div class="snp_stat">
                    <h2>ROA</h2>
                    <h3>{{ snp.roa }}%<h3>
                </div>
            </div>
            <div class="date_box">
                <h4>
                    <span class="as_of_date as_of_date_two" id="as_of_date"></span>
                </h4>
            </div>
        </div>
    </div>
</section>
<section class="yoy_section container">
    <h1 class="section_title_blue">Year-Over-Year Comparison</h1>
    <h2>S&P 500 <span class="yoy_comp_title"></span>Y-o-Y</h2>
    <div class="yoy_box">
        <canvas id="yoy_chart"></canvas>
    </div>
    <div class="sectors_box">
        <h1>S&P 500</h1>
        <h2>Sectors</h2>
        <ul>
            {% for s in sector %}{% if s.pk != 13 %}
            <li class="sect_names">{{ s }}</li>
            {% endif %}
            {% endfor %}
            
        </ul>
    </div>
</section>
<section class="container ind_insights_container">
    <h1 class="section_title_blue">Select S&P 500 Industries</h1>
        <div class="pic_industry_container">
            <div class="ind_img_box">
                <img id="industry_image" class="industry_image overlay" src="%20" alt="">
               <div class="ind_text_on_picture">
                    <div class="ind_text_on_picture_titles">
                        <h1>S&P 500</h1>
                         <h1><span class="industry_title"></span></h1>
                    </div>
                    <div class="ind_box">
                        <div class="ind_boxes">
                            <h2 class="ind_stat_label">P/E</h2>
                            <h3 id="ind_price_earnings_forward" class="ind_stat"></h3>
                        </div>
                        <div class="ind_boxes">
                            <h2 class="ind_stat_label">P/S</h2>
                            <h3 id="ind_price_sales_forward" class="ind_stat"></h3>
                        </div>
                        <div class="ind_boxes">
                            <h2 class="ind_stat_label">P/B</h2>
                            <h3 id="ind_price_book_mrq" class="ind_stat"></h3>
                        </div>
                        <div class="ind_boxes">
                            <h2 class="ind_stat_label">P/CF</h2>
                            <h3 id="ind_price_cashflow" class="ind_stat"></h3>
                        </div>
                    </div>
                    <div class="ind_date_box">
                        <h4>On <span class="ind_as_of_date" id="ind_as_of_date"></span></h4>
                    </div>
               </div>
            </div>
            <div class="industry_box">
                <div class="sect_ind_box">
                    {% for ss in sector_to_industry %}{% if ss.pk != 13 %}
                    <button class="show_industry {{ ss|lower }}_sector"
                        id="{{ ss|lower }}_sector" name="the_sector">{{ ss }} +
                    </button>
                    <div class="{{ ss|lower }}_sector_container" id="{{ ss|lower }}_sector_container">
                        {% for s in ss.sector_to_industry.all %}
                        <button class="select_industry">{{ s }}</button>
                        {% endfor%}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</section>
<script type="text/javascript">
    const the_weekly_stats = JSON.parse('{{weekly_stats|safe}}')
    const the_sector_names = JSON.parse('{{sector_names|safe}}')
    const the_industry_names = JSON.parse('{{industry_names|safe}}')
    const the_weekly_y_o_y = JSON.parse('{{weekly_y_o_y|safe}}')
</script>
{% endblock %}



