* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Libre Caslon Text', serif;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #6196B1;
    display: flex;
    height: 4rem;
    justify-content: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 25px;
    width: 100%;
    
}

logo {
    display: block;
}

.logo {
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#top_logo {
    font-size: 1.40rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1.5px;
}

#bottom_logo {
    font-size: .92rem;
    margin-top: -3px;
}

.navbar_menu {
    display: flex;
    list-style: none;
}

.navbar_links {
    color: #ffffff;
    padding-left: 25px;
    text-decoration: none;
    width: 8rem;
}


.navbar_links:hover{
    color: #5C5757;
    transition: all 0.3s ease;
}

hr {
    border: 2px solid #6196B1;
}




/* Details */
.product_details_container {
    align-items: center;
    display: flex;
    height: 100vh;
    
}

.product_details_image {
    justify-content: center;
    margin-left: 3rem;
    

}

.curr_newsletter {
    height: 31rem;
    box-shadow: 6px 6px 6px;
    width: 24rem;
    

}

.description_block h1 {
    margin: auto;
    text-align: left;
    width: 75%;
}

.title_block {
    font-size: 1.50rem;
    font-weight: 100;
}

.category_block {
    color: #6196B1;
    float: left;
    font-weight: 100;
    font-size: 1rem;
    margin: 0 0 0 7.25rem;
    text-align: left;
}

.product_description {
    margin: auto;
    margin-top: 3rem;
    text-align: left;
    width: 75%;
}

.product_price {
    font-size: 1.25rem;
    margin: auto;
    margin-top: 2rem;
    text-align: left;
    width: 75%;
}

#cart_add {
    background-color: #6196B1;
    border: 1px solid #5C5757;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: .75rem;
    font-weight: 200;
    line-height: 1;
    margin-left: 1rem;
    margin-top: 1.5rem;
    padding: .25rem .50rem .25rem .50rem;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    transition-property: box-shadow, transform;
    user-select: none;
    white-space: nowrap;
    will-change: box-shadow, transform;
}


#quantity_selection {
    font-size: 1rem;
    margin-top: -1.25rem;
    align-items: center;
}



/* List HTML */
.library_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#sidebar {
    margin: 3rem 0 0 3.50rem;
    width: 8.5rem;
    
}

#sidebar ul li {
    list-style: none;
    text-decoration: none;

}

#sidebar h3{
    font-size: 1rem;
}

#sidebar li {
    font-size: .75rem;
}


#sidebar ul li a {
    display: block;
}

#sidebar ul li.selected {
    background-color: #6196B1;
    border-radius: 4px;
    height: 1rem;
}

#sidebar ul li.selected a{
    color: #ffffff;
}

ul li a {
    text-decoration: none;
    margin: 0 0 0 .5rem;
}

#main {
    margin: 3rem 0 0 0;
    margin-left: 4rem;
    width: 78%;
}

.product_list .item {
    float: left;
    line-height: 1.25;
    margin: 0 0 0 3.25rem;
    text-align: center;
    width: 20%;


}

.product_list .item img {
    box-shadow: 3px 3px 3px black;
    height: 16rem;
    margin-bottom: .5rem;
    width: 12rem;
    
    
}


/* * * * * * * *  Shopping Cart * * * * * * * */

h1 {
    color: #6196B1;
    font-size: 2rem;
    font-weight: 100;
    margin-left: 3.5rem;
    margin-top: 1rem;
    text-shadow: 1px 1px rgba(0, 0, 0.1);
    width: 22rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 3.5rem;
    width: 92%;
}

table th, table td {
    font-size: 1rem;
    margin: 0;
    padding: .75rem;
    text-align: left;

    /* border: 2px solid green; */
    
}

tbody tr:nth-child(odd) {
    background: #EEECEC;
}

thead th, tbody tr.total {
    background: #5C5757;
    color: #ffffff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 2.5rem;
}

table.cart img {
    box-shadow: 3px 3px 3px black;
    height: 16rem;
    margin-bottom: .5rem;
    width: 12rem; 
}

tbody td.num {
    text-align: left;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#6196B1;
    border-radius:4px;
    padding: 4px 14px;
    font-size:12px;
    border:0;
}

a.button.light {
    color:#5C5757;
    background:#ededed;
    text-decoration: none;
}

a.button.dark {
    color:#ffffff;
    background:#6196B1;
    text-decoration: none;
}

.text_right {
    text-align:right;
    margin: 0 3rem 2rem 0;

}


/* * * * * * * * Sticky Cart * * * * * * * */
.cart_section {
    background-color: #efefef;
    max-width: auto;
    height: 1.5rem;
}

.site_cart {
    float: right;
    margin-right: 3rem;
    text-transform: capitalize;
}




/* * * * * * * *  Checkout Section * * * * * * * */ 
.checkout_section {
    height: 100vh;
}

.checkout_title {
    margin: 1rem 0 0 2rem;

}


.order_info {
    background-color: #efefef;
    float: right;
    margin-right: 5rem;
    padding: .5rem 1.25rem;
    width: 350px;
}

.order_info h3 {
    color: #6196B1;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.order_info ul li {
    margin: 1rem 1rem 1rem 1rem;
    padding: 0;
    font-size: 14px;
}

.order_info p {
    font-weight: bold;
    float: right;
    margin-top: 1rem;
}

.order_info span {
    float: right;
}


.order_form {
    float: left;
    margin-left: 2rem;
    width:500px;
}


.order_form p {
    padding:5px 9px;
}

.order_form input[type="submit"] {
    color:#ffffff;
    background:#6196B1;
}

form p label, form p input {
    float: left;
    clear: both;
}

form p label {
    font-size:14px;
    padding-bottom: 1px;
    text-transform: capitalize;
}

form p input {
    border-radius: 4px;
    font-size: 12px;
    padding: 10px 12px;
    width: 300px;
    margin-bottom: 10px;
    background: #efefef;
    color: #000000;
    
}


/* * * * * * * *  Success Section * * * * * * * */ 
.success_section {
    height: 20vh;
}
.success_section h1 {
    width: 100%;
}

.success_section p {
    margin: 0 0 0 4rem;
    width: 100%;
    text-transform: capitalize;
}

.purchase_list {
    margin-top: 2rem;
    
}


.purchase_list li {
    margin: 1rem 0 0 4rem;
    width: 100%;
    text-transform: capitalize;
    list-style: none;
}

.download_list li {
    text-decoration: none;
    
}

.download_button{
    color:#fff;
    background:#6196B1;
    border:0;
    border-radius:4px;
    font-size:12px;
    justify-items: flex-end;
    padding: 4px 14px;
    
    text-decoration: none;
}

#test_pic {
    height: 8rem;
    width: 6rem;
}


.table_data_button {

    background:#6196B1;
    border-radius:4px;
    padding: 4px 14px;
    font-size:12px;
    border:0;   
}

.table_data_button a {
    color: white;
    text-decoration: none;
    
}

.order_form {
    float:left;
}


.order_form label, .order_form input {
    float:left;
    clear:both;
}

.order_form label {
    font-size:14px;
    padding-bottom:4px;
}

.order_form input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    background:#efefef;
    color:#666;
    border-radius:4px;
}


/* * * * * * * *  Footer Section * * * * * * * */ 
.footer_container {
    align-items: center;
    background-color: #6196B1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}


.footer_links {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
}

.footer_links_wrapper {
    display: flex;
}

.footer_link_items {
    /* align-items: flex-start; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: left;
    width: 10rem;    
}

.footer_link_items h2{
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: .3rem;
   
}

#no-show {
    display: none;
}

.footer_link_items a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.2rem;
    transition: 0.3s ease-out;
}

.footer_link_items a:hover {
    color: #5C5757;
    transition: 0.3s ease-out;
}

.footer_logo {
    display: block;
    margin-left: 3%
}


#footer_logo_top {
    /* align-items: center; */
    color: #ffffff;
    cursor: pointer;
    /* display: flex; */
    font-size: 1.4rem;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 1.5px;
}

#footer_logo_bottom {
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: .96rem;
    margin-top: -3px; 
    text-decoration: none;
    
}

.social_icon_link {
    color: #ffffff;
    font-size: 1.5rem;
}

.social_media{
    background-color: #5C5757;
    max-width: 2000px;
    width: 100%;
    padding: .5rem;
}

.social_media_wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
   
}

.social_icons {
    display: flex;
    justify-content: space-evenly;
    margin-right: 2%;
    width: 10rem;
    
}

.website_rights {
    color: #ffffff;
}