/* * * * * * * * * * * * Details * * * * * * * * * * * */
.product_detail_section{
    height: 100vh;
}

.product_details_container {
    align-items: center;
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
}


.curr_newsletter {
    box-shadow: 5px 5px 5px;
    height: 31rem;
    width: 24rem;
}
.description_block{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.description_block h1 {
    margin: 0 0;
    text-align: left;
    width: 85%;
}


.category_block {
    color: var(--color-site-blue);
    font-weight: 100;
    font-size: 1rem;
    text-align: left;
}

.product_description {
    font-size: 1.25rem;
    text-align: left;
    width: 85%;
}

.product_description p {
    font-size: 1.25rem;
}

.product_price {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

#cart_add {
    background-color: var(--color-site-blue);
    border: 1px solid var(--color-site-grey);
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    padding: .25rem .50rem .25rem .50rem;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    transition-property: box-shadow, transform;
    user-select: none;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

#cart_add:hover{
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translate(2px);
}



/* * * * * * * * * * * * List HTML * * * * * * * * * * * */
.library_section {
    height: auto;
}

.library_container {
    display: flex;
}

#sidebar {
    height: fit-content;
}

#sidebar ul li {
    list-style: none;
    text-decoration: none;

}

#sidebar h3{
    font-size: 1rem;
}

#sidebar li {

    font-size: .75rem;
    
}


#sidebar ul li a {
    color: var(--color-site-light_grey);
    margin: 0;
    display: block;
}

#sidebar ul li.selected {
    background-color: var(--color-site-blue);
    border-radius: 8px;
    padding: .25rem .25rem .25rem .25rem;
    height: fit-content;
}

#sidebar ul li.selected a{
    color: var(--color-primary-font);
}

ul li a {
    text-decoration: none;
    margin: 0 0 0 .5rem;
}


.product_library {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative
}

.library_title {
    height: fit-content;
    max-width: fit-content;
}


#main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    margin: 0 0 0 3rem;
    max-width: 1200px;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    line-height: 1.25;
    text-align: center;
    width: 14rem;
}

.product_name {
    color: black;
    text-decoration: none;
}

.product_list .item img {
    box-shadow: 3px 3px 3px black;
    height: 16rem;
    width: 12rem;
}




