
/* * * * * * * * * * * * * *  Blog Section * * * * * * * * * * * * * */


.all_posts_slug {
    color: var(--color-secondary-font);
    font-size: 1.25rem;
    text-align: center;
}


.blog_categories h4 a{
    color: #212121;
    font-weight: lighter;
}




.blog_categories {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}


.blog_page_body {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    height: auto;

}

.post_section {
    background-color: var(--color-bg-secondary);
    border: 1px solid var( --color-secondary-font);
    border-radius: 8px;
    display: block;
    margin-bottom: .5rem;
    width: 74.5rem;
}

.post_title a {
    color: var( --color-secondary-font);
}

.pub_date {
    margin-left: -4rem;
    margin-top: -1.25rem;
    width:fit-content;
    font-size: .95rem;
    font-weight: lighter;
    color: var( --color-secondary-font);
}

.pic_title_snip{
    align-items: center;
    display: flex;
    margin-left: 5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.post_desc a {
    color: black;
}

.post_desc {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    width: 90%;

}


.post_image {
    height: 11rem;
    width: 17.5rem;

    
}

.post_title {
    font-size: 2rem;
    height: fit-content;
    margin-bottom: 0;
    width: 90%;
}


.post_snippet { 
    height: auto;
    width: 90%;
}

#post_snippet_mobile_view{
    display: none;
}

 
.auth_and_opinion {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    text-transform: capitalize;
    max-width: 90%;
}

.pubdate_readtime {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    max-width: 90%;
}


.author, .publish_date{
    font-size: .95rem;
    font-weight: lighter;
    color: #212121;
}

.opinion, .read_time{
    font-size: .95rem;
    font-weight: 600;
}


.blog_divider {
    border-bottom: .2px solid #212121;
}
/* * * * * * * * * * * * Detail Blog Section * * * * * * * * * * * */ 

.blog_area_section {
    height: auto;
}

.blog_post_container{
    display: flex;
    gap: 1.5rem;
}


.prev_blog_section {
    border-right: 1px dotted var(--color-site-grey);
    height: fit-content;
    margin-top:4rem;
    width: 20%;
}



.post_img_and_title {
    align-items: center;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-site-grey);
    border-radius: 8px;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1rem .5rem .5rem .5rem;
}

.prev_post_img {
    height: 6rem;
    padding-top: .5rem;
    width: 10rem;
}

.prev_post_title {
    font-size: .95rem;
    line-height: 1rem;
    margin-top: 1rem;
    margin: .5rem 0 .5rem 0;
    text-align: center;
    width: 90%;
}

.prev_post_title a {
    color: var(--color-secondary-font); 
}


.blog_area {
    height: 100vh;
    overflow-y: scroll;
    width: 60%;
}


.blog_title_slug_area {
    align-items: center;
    color: #2a2b2c;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem 0;

}

.the_blog_title {
    color: #2a2b2c;
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: .5rem;
    text-align: center;
    width: 90%;
}

.blog_subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.375rem;
    text-align: center;
    margin-bottom: 1.5rem;
    width: 85%;
}

.auth_pub_read_area {
    margin-bottom: 1rem;
    width: 99%;
}

.blog_author {
    color:#797979eb;
}

.blog_pub_date, .blog_read_time{
    color:#797979eb;
    font-size: .90rem;
    text-transform: capitalize;
}

.auth_pub_read_area {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.pub_date_read_time {
    display: flex;
    flex-direction: column;
}

.blog_main_img {
    width: 40rem;
    height: 19rem;
}


.blog_text, .blog_overview {
    padding: 1rem 1rem 1rem 1rem;
    text-align: justify;
}

.blog_text p a{
    color: blue;
}

.blog_hr {
    border: .75px dotted var(--color-site-blue);
}



.social_sidebar {
    align-items: center;
    border-left: 1px dotted var(--color-site-grey);
    display: flex;
    flex-direction: column;
    height: 100vh; 
    justify-content: center;
    gap: 1rem;
    
}

.blog_icon_link {
    color: var(--color-site-blue);
    font-size: 1.75rem;
    margin-left: 5px;
}



.newsletter_promotion {
    width: 40rem;
    height: 5.5rem;

}

.blog_sidebar {
    height: 100vh;
    background-color: yellow;

}

/* * * * * * * * * * * * Detail Blog Section * * * * * * * * * * * */ 

/* * * * * * * * * * * * Blog Images Section * * * * * * * * * * * */ 


.blog_image {
    height: 26rem;
    width: 38rem;
}


/* * * * * * * * * * * * Blog Images Section * * * * * * * * * * * */ 



/* * * * * * * * * * * * Blog Post By Category * * * * * * * * * * * */ 

.blogs_by_tag_section {
    height: auto;
}

.all_cats_section {
    display: grid;
    grid-template-columns:  repeat(5, auto);
    grid-template-rows:  repeat(7, auto);
    grid-gap: 1rem;
    margin-top: 4rem;

}

.cat_button {
    background-color: var(--color-site-blue);
    border: 1px solid var( --color-site-grey);
    border-radius: 8px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 200;
    padding: .25rem .5rem;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;;
}

.cat_button a {
    text-decoration: none;
    color: var(--color-primary-font)

}
/* * * * * * * * * * * *Blog Post By Category * * * * * * * * * * * */ 


