
/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px){
    /* * * * * * * * * * * * All Blogs * * * * * * * * * * * */ 
    .blog_categories h4 a{
        color: #212121;
        font-weight: lighter;
    }


    .blog_categories {
        font-size: .85rem;
        overflow-x: auto;
        gap: 2rem;
        text-align: center;
        

    }

    .post_section {
        width: auto;
   
    }

    .post_image {
        height: 9rem;
        width: 10.5rem;
    }

    .pic_title_snip{
        margin-left: .25rem;
        margin-bottom: .5rem;
    }

    
    .post_title {
        font-size: 1.5rem;
        height: auto;
        width: 90%;
    }

    .post_desc {
        margin-left: .55rem;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 90%;
    }

 
    #post_snippet_mobile_view{
        display: none;
    }


    .author{
        font-size: .90rem;
    }

    .publish_date {
        font-size: .70rem;
    }
    
    .opinion, .read_time{
        font-size: .90rem;
    }
    /* * * * * * * * * * * * All Blogs * * * * * * * * * * * */ 


    /* * * * * * * * * * * * Detail Blog * * * * * * * * * * * */ 
    .blog_post_container{
        flex-direction: column;
    }

    .blog_area{
        order: 0;
        width: 100%;

    }

    .the_blog_title {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: .5rem;
    }
    
    .blog_subtitle {
        font-size: 1.25rem;
        margin-bottom: .5rem;
    }

    .blog_author {
        font-size: 1rem;
    }
    
    .blog_pub_date, .blog_read_time{
        font-size: .95rem;
    }

    .blog_main_img, .blog_image {
        width: 100%;
        height: 50%
    }

    .blog_image{
        margin-top: 1rem;
    }

    .newsletter_promotion {
        width: 100%;
        height: 4.5rem;
    
    }

    .social_sidebar{
        border-left: none;
        flex-direction: row;
        gap: .5rem;
        height: fit-content;
        
    }

    .prev_blog_section{
        border-right: none;
        height: fit-content;
        margin-top: 0;
        width: 100%;
        order: 2;
    }

    .prev_post_img {
        height: 12rem;
        width: 20rem;
    }
    
    .prev_post_title {
        font-size: 1.25rem;
        line-height: 1rem;
    }

    .blog_sidebar{
        display: none;
        /* height: fit-content;
        order: 3; */

    }
    /* * * * * * * * * * * * Detail Blog * * * * * * * * * * * */ 
   
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px){
    /* * * * * * * * * * * * * *  Blog * * * * * * * * * * * * * */

    .blog_categories h4 a{
        color: #212121;
        font-weight: lighter;
    }


    .blog_categories {
        font-size: .85rem;
        overflow-x: auto;
        gap: 2rem;
        text-align: center;   
    }

    a .fa-square-rss, a .fa-magnifying-glass{
        font-size: 1.25rem;
    }



    .post_section {
        width: auto;
   
    }

    .post_image {
        height: 7rem;
        width: 6.5rem;
    }

    .pic_title_snip{
        margin-left: .25rem;
        margin-bottom: .5rem;
    }

    
    .post_title {
        font-size: .95rem;
        height: auto;
        width: 90%;
    }

    .post_desc {
        margin-left: .55rem;
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 90%;
    }

 
    .post_snippet {
        display: none;
    }

    #post_snippet_mobile_view{
        display: flex;
        font-size: .80rem;
        margin-top: .5rem;
        max-width: 75%;
    }


    .author{
        font-size: .75rem;
    }

    .publish_date {
        font-size: .65rem;
    }
    
    .opinion, .read_time{
        font-size: .75rem;
    }



    /* * * * * * * * * * * * * *  Blog * * * * * * * * * * * * * */

    /* * * * * * * * * * * * Blog Post By Category * * * * * * * * * * * */ 
    .all_cats_section {
        grid-template-columns:  repeat(2, auto);
        grid-template-rows:  repeat(auto, auto);
        grid-gap: .75rem;
    
    }

    /* * * * * * * * * * * * Blog Post By Category * * * * * * * * * * * */ 

    /* * * * * * * * * * * * Detail Blog * * * * * * * * * * * */ 
    .blog_post_container{
        flex-direction: column;
    }

    .blog_area{
        order: 0;
        width: 100%;

    }

    .the_blog_title {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: .5rem;
    }
    
    .blog_subtitle {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    .blog_author {
        font-size: .90rem;
    }
    
    .blog_pub_date, .blog_read_time{
        font-size: .85rem;
    }

    .blog_main_img, .blog_image {
        width: 100%;
        height: 50%;
    }

    .blog_image{
        margin-top: 1rem;
    }

    .newsletter_promotion {
        width: 100%;
        height: 3.5rem;
    
    }

    .social_sidebar{
        border-left: none;
        flex-direction: row;
        gap: .5rem;
        height: fit-content;
        
    }

    .prev_blog_section{
        border-right: none;
        height: fit-content;
        margin-top: 0;
        width: 100%;
        order: 2;
    }


    .blog_sidebar{
        display: none;
        /* order: 3; */
    }
    /* * * * * * * * * * * * Detail Blog * * * * * * * * * * * */ 

 
    

}