{% extends "layout.html" %}
{% load static %}


{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- ========== HOME ==========-->
<section class="home">
        <picture id="bg">
            <div class="home_box">
                <div class="inner_home_box">
                    <h1 class="home_title">Where are your investments taking you?</h1>
                    <!-- <h2 class="home_title_two">Reach new heights with the right investments.</h2>  -->
                    <p class="home_paragraph">The Seville Report Newsletter helps investors reach new<br>heights by spotlighting long-term investment ideas.</p>
                    <a href="{% url 'store:product_list' %}"><button class="btn">newsletter</button></a> 
                </div>
            </div>
            <div class="social_block">
                <div class="social_media_block">
                    <a href="https://www.facebook.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/the_seville_report/" class="social_block_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
                    <a href="https://twitter.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </div>
            </div>
        </picture> 
</section>
<hr>
<!-- ========== RECENT RECOMMENDATIONS ==========-->

<section class="recent_recommendations">
    <div class="section_title">
        <h1 class="recom_title">Recent Recommendation</h1>
    </div>
    <div class="recomend_wrapper">
        <div class="recommend_items">
            <div class="rec_icons"><i class="fa-solid fa-file-invoice-dollar"></i></i></div>
            <div class="rec_desc">$AMKR</div>
        </div>
        <div class="recommend_items">
            <div class="rec_icons"><i class="fa-regular fa-building"></i></div>
            <div class="rec_desc">Amkor Technology, Inc.</div>
        </div>
        <div class="recommend_items">
            <div class="rec_icons"><i class="fa-solid fa-money-bill-trend-up"></i></div>
            <div class="rec_desc">+35%</div>
        </div>
        <div class="recommend_items">
            <h3>Recommended</h3>
            <a class="rec_desc" href="#">Dec. 2021</a>
        </div>
    </div>
</section>
<hr>
<!-- ========== THE NEWSLETTER ==========-->

<section class="newsletter_section">
    <picture id="bg_two">
        <div class="section_title">
            <h1 class="newsletter_title">The Seville Report Newsletter</h1>
        </div>
        <newsletter class="newsletter">
            <div class="newsletter_description">
                <h2 class="news_desc">Our quarterly newsletter provides the information that investors need to know to build wealth. We discuss traditional investments, alternative investments, and investment education. The Seville Report has you covered.</h2>
                <div>
                    <p class="discover"><a href="#" class="discover_link" target="_blank"><span class="highlights">Discover</span></a> what makes The Seville Report different.</p>
                </div>
            </div>
            <div class="description_two">
                <p class="curr_desc">This quarter's newsletter features a researched investment idea. In addition, we discuss if an Index Universal Life Insurance plicy can be an infinite bank in retirement and why gas prices have been so high in 2022.</p>
            </div>
            <div class="newsletter_image">
                <img src="{% static 'img/SR_Sept_22.jpeg' %}" alt="picture of newsletter cover" class="curr_newsletter">
                <button href="#" class="newsletter_btn">Purchase Now</button>
            </div>
        </newsletter>
        <div class="social_block">
            <div class="social_media_block">
                <a href="https://www.facebook.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/the_seville_report/" class="social_block_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <a href="https://twitter.com/SevilleReport" class="social_block_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
    </picture>  
</section>
<hr>
<!-- ========== SR BLOG ==========-->
<section class="blog_section">
    <div class="section_title">
        <h1 class="blog_section_title">The SR Blog</h1>
    </div>
    <div class="card_container">
        <div class="card">
            <div class="card_image"></div>
            <div class="card_text">
                <span class="date">4 Days Ago</span>
                <h2>Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa voluptatibus repellendus magni sunt numquam, dignissimos veritatis necessitatibus iste voluptate dolorem inventore doloremque.</p>
            </div>
            <div class="card_stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image"></div>
            <div class="card_text">
                <span class="date">4 Days Ago</span>
                <h2>Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa voluptatibus repellendus magni sunt numquam, dignissimos veritatis necessitatibus iste voluptate dolorem inventore doloremque.</p>
            </div>
            <div class="card_stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image"></div>
            <div class="card_text">
                <span class="date">4 Days Ago</span>
                <h2>Post One</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa voluptatibus repellendus magni sunt numquam, dignissimos veritatis necessitatibus iste voluptate dolorem inventore doloremque.</p>
            </div>
            <div class="card_stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
    </div>
    <div class="home_page_blog_button">
        <button class="blog_btn">More Blogs</button>
    </div>
    <div class="social_block">
        <div class="blue_social_media_block">
            <a href="https://www.facebook.com/SevilleReport" class="blue_social_block_link" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/the_seville_report/" class="blue_social_block_link" target="_blank"><i class="fab fa-instagram-square"></i></a>
            <a href="https://twitter.com/SevilleReport" class="blue_social_block_link" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
</section>

{% endblock %}
