{% extends "blog/base.html" %}

{% block title %}The Seville Report Blog{% endblock %}

{% block main %}
<section class="blog_page_header">
    <div class="title_social">
        <h1 class="all_posts_title">All Posts</h1>
    </div>
    <h4 class="all_posts_slug">Our thoughts on the events shaping the market</h4>
    <div class="blog_categories">
        <h4 class="categories">All Posts</h4>
        <h4 class="categories">Investing</h4>
        <h4 class="categories">Tech Investing</h4>
        <h4 class="categories">Technical Analysis</h4>
        <h4 class="categories">Funadamental Analysis</h4>
        <h4 class="categories">More</h4>
    </div>
</section> 
<section class="blog_page_body">
    {% for post in posts %}
    <div class="post_section">
        <div class="pic_title_snip">
            <a href="{{ post.get_absolute_url }}">
                <img src='{{ post.post_image.url }}' alt="blog post image" class="post_image">
            </a>
            <div class="post_desc">
                <h1 class="post_title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                <p class="post_snippet">{{ post.body|safe|truncatewords:30|linebreaks }}</p>
                <div class="auth_and_opinion">
                    <h3 class="author">{{ post.author }}</h3>
                    <h3 class="opinion">Opinion</h3>
                </div>
                <div class="pubdate_readtime">
                    <h3 class="publish_date">{{ post.publish }}</h3>
                    <h3 class="read_time">{{ time_to_read }}</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock %}
